=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class AIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # AI operation
    # Perform an AI-powered operation.  Operations: - `respond-to-guest` — Generate a contextual guest response - `classify-intent` — Classify the intent of a guest message - `generate-listing` — Generate optimized listing description - `review-response` — Generate a review response - `price-suggestion` — Get AI pricing suggestions
    # @param [Hash] opts the optional parameters
    # @option opts [AIOperation] :ai_operation 
    # @return [CreateAiOperation200Response]
    def create_ai_operation(opts = {})
      data, _status_code, _headers = create_ai_operation_with_http_info(opts)
      data
    end

    # AI operation
    # Perform an AI-powered operation.  Operations: - &#x60;respond-to-guest&#x60; — Generate a contextual guest response - &#x60;classify-intent&#x60; — Classify the intent of a guest message - &#x60;generate-listing&#x60; — Generate optimized listing description - &#x60;review-response&#x60; — Generate a review response - &#x60;price-suggestion&#x60; — Get AI pricing suggestions
    # @param [Hash] opts the optional parameters
    # @option opts [AIOperation] :ai_operation 
    # @return [Array<(CreateAiOperation200Response, Integer, Hash)>] CreateAiOperation200Response data, response status code and response headers
    def create_ai_operation_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AIApi.create_ai_operation ...'
      end
      # resource path
      local_var_path = '/v1/ai'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ai_operation'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAiOperation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AIApi.create_ai_operation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AIApi#create_ai_operation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
