=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class AtlasApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Atlas DNA segment intelligence for a listing
    # Aggregates Atlas DNA segment signal (quality tier, design style, bedrooms) across the listing's geographic neighborhood (default: 5km radius) or the whole city, so consumers can answer: - What segments dominate my market? - Which segment does my listing match best? - What's the ADR uplift for moving up a tier?  DNA coverage is still ramping — segments are scored asynchronously. Cities and radii without scored comps return `totalCompsAnalyzed: 0` plus a `low_dna_coverage` recommendation rather than fabricated data.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :level &#x60;comp_set&#x60; (default) restricts to a &#x60;radius_km&#x60; bbox. &#x60;market&#x60; aggregates across the whole city. (default to 'comp_set')
    # @option opts [Float] :radius_km Only used when &#x60;level&#x3D;comp_set&#x60;. (default to 5)
    # @return [ListingSegmentsResponse]
    def get_listing_segments(id, opts = {})
      data, _status_code, _headers = get_listing_segments_with_http_info(id, opts)
      data
    end

    # Atlas DNA segment intelligence for a listing
    # Aggregates Atlas DNA segment signal (quality tier, design style, bedrooms) across the listing&#39;s geographic neighborhood (default: 5km radius) or the whole city, so consumers can answer: - What segments dominate my market? - Which segment does my listing match best? - What&#39;s the ADR uplift for moving up a tier?  DNA coverage is still ramping — segments are scored asynchronously. Cities and radii without scored comps return &#x60;totalCompsAnalyzed: 0&#x60; plus a &#x60;low_dna_coverage&#x60; recommendation rather than fabricated data.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :level &#x60;comp_set&#x60; (default) restricts to a &#x60;radius_km&#x60; bbox. &#x60;market&#x60; aggregates across the whole city. (default to 'comp_set')
    # @option opts [Float] :radius_km Only used when &#x60;level&#x3D;comp_set&#x60;. (default to 5)
    # @return [Array<(ListingSegmentsResponse, Integer, Hash)>] ListingSegmentsResponse data, response status code and response headers
    def get_listing_segments_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtlasApi.get_listing_segments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtlasApi.get_listing_segments"
      end
      allowable_values = ["comp_set", "market"]
      if @api_client.config.client_side_validation && opts[:'level'] && !allowable_values.include?(opts[:'level'])
        fail ArgumentError, "invalid value for \"level\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'radius_km'].nil? && opts[:'radius_km'] > 50
        fail ArgumentError, 'invalid value for "opts[:"radius_km"]" when calling AtlasApi.get_listing_segments, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'radius_km'].nil? && opts[:'radius_km'] < 0.5
        fail ArgumentError, 'invalid value for "opts[:"radius_km"]" when calling AtlasApi.get_listing_segments, must be greater than or equal to 0.5.'
      end

      # resource path
      local_var_path = '/v1/listings/{id}/segments'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'level'] = opts[:'level'] if !opts[:'level'].nil?
      query_params[:'radius_km'] = opts[:'radius_km'] if !opts[:'radius_km'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingSegmentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AtlasApi.get_listing_segments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtlasApi#get_listing_segments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Comp set for a listing (with daily nightly pricing)
    # Returns the actual comp set for a listing — the underlying competitor listings (with daily nightly pricing), not just the aggregated `compSummary` from `/pricing`. Each comp comes back with distance, bedrooms, ratings, lat/lng, platform link, and a per-day rate/availability series for the requested window.  Powered by Atlas. Comps with no coordinates are excluded — there's no way to rank them by distance. Listings without coordinates return `data: []` and a `warning` field.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :radius_km Bbox + haversine on lat/lng. Default 5, max 50. (default to 5)
    # @option opts [Integer] :limit Closest-first. Max 100. (default to 20)
    # @option opts [Date] :start_date Defaults to today.
    # @option opts [Date] :end_date Defaults to today + 30 days.
    # @return [ListingCompsResponse]
    def list_listing_comps(id, opts = {})
      data, _status_code, _headers = list_listing_comps_with_http_info(id, opts)
      data
    end

    # Comp set for a listing (with daily nightly pricing)
    # Returns the actual comp set for a listing — the underlying competitor listings (with daily nightly pricing), not just the aggregated &#x60;compSummary&#x60; from &#x60;/pricing&#x60;. Each comp comes back with distance, bedrooms, ratings, lat/lng, platform link, and a per-day rate/availability series for the requested window.  Powered by Atlas. Comps with no coordinates are excluded — there&#39;s no way to rank them by distance. Listings without coordinates return &#x60;data: []&#x60; and a &#x60;warning&#x60; field.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :radius_km Bbox + haversine on lat/lng. Default 5, max 50. (default to 5)
    # @option opts [Integer] :limit Closest-first. Max 100. (default to 20)
    # @option opts [Date] :start_date Defaults to today.
    # @option opts [Date] :end_date Defaults to today + 30 days.
    # @return [Array<(ListingCompsResponse, Integer, Hash)>] ListingCompsResponse data, response status code and response headers
    def list_listing_comps_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AtlasApi.list_listing_comps ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AtlasApi.list_listing_comps"
      end
      if @api_client.config.client_side_validation && !opts[:'radius_km'].nil? && opts[:'radius_km'] > 50
        fail ArgumentError, 'invalid value for "opts[:"radius_km"]" when calling AtlasApi.list_listing_comps, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'radius_km'].nil? && opts[:'radius_km'] < 0.5
        fail ArgumentError, 'invalid value for "opts[:"radius_km"]" when calling AtlasApi.list_listing_comps, must be greater than or equal to 0.5.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AtlasApi.list_listing_comps, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling AtlasApi.list_listing_comps, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/listings/{id}/comps'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'radius_km'] = opts[:'radius_km'] if !opts[:'radius_km'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'start_date'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'end_date'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingCompsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AtlasApi.list_listing_comps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AtlasApi#list_listing_comps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
