=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class AvailabilityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get availability calendar
    # Returns day-by-day availability, pricing, and minimum stay for a property.
    # @param property_id [Integer] 
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @return [CalendarResponse]
    def get_availability(property_id, start_date, end_date, opts = {})
      data, _status_code, _headers = get_availability_with_http_info(property_id, start_date, end_date, opts)
      data
    end

    # Get availability calendar
    # Returns day-by-day availability, pricing, and minimum stay for a property.
    # @param property_id [Integer] 
    # @param start_date [Date] 
    # @param end_date [Date] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CalendarResponse, Integer, Hash)>] CalendarResponse data, response status code and response headers
    def get_availability_with_http_info(property_id, start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilityApi.get_availability ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling AvailabilityApi.get_availability"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling AvailabilityApi.get_availability"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling AvailabilityApi.get_availability"
      end
      # resource path
      local_var_path = '/v1/availability/{propertyId}'.sub('{propertyId}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = start_date
      query_params[:'endDate'] = end_date

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CalendarResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AvailabilityApi.get_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilityApi#get_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update availability
    # Update pricing, availability, and minimum stay for specific dates.
    # @param property_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAvailabilityRequest] :update_availability_request 
    # @return [nil]
    def update_availability(property_id, opts = {})
      update_availability_with_http_info(property_id, opts)
      nil
    end

    # Update availability
    # Update pricing, availability, and minimum stay for specific dates.
    # @param property_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAvailabilityRequest] :update_availability_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_availability_with_http_info(property_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AvailabilityApi.update_availability ...'
      end
      # verify the required parameter 'property_id' is set
      if @api_client.config.client_side_validation && property_id.nil?
        fail ArgumentError, "Missing the required parameter 'property_id' when calling AvailabilityApi.update_availability"
      end
      # resource path
      local_var_path = '/v1/availability/{propertyId}'.sub('{propertyId}', CGI.escape(property_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_availability_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"AvailabilityApi.update_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AvailabilityApi#update_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
