=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Designed for AI agents Every error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human: - `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`) - `error.message` — human-readable cause - `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\") - `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}` - `error.request_id` — id to correlate with server-side logs - `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific - `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)  `Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_live_YOUR_API_KEY ```  ## Request Correlation (X-Request-ID) Every response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.  You may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.  The id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.  ## Rate Limits The public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.  **Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.  Every response includes:  | Header | Meaning | |---|---| | `X-RateLimit-Limit` | Requests permitted in the current window. | | `X-RateLimit-Remaining` | Requests left in the current window after this call. | | `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. | | `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. | | `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |  **On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.  Recommended backoff: ``` sleep_ms = (Retry-After * 1000) + random(0..250) ```  Monthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resetsAt` fields.  ## Plan Limits (402 — `listings_limit_exceeded`) The Repull API also enforces a per-tier cap on **active listings**:  | Tier | Active listings cap | |---|---| | `free` | 3 | | `starter` | 50 | | `custom` | unlimited |  When a customer's active-listing count is above their tier cap, the API returns **`402 Payment Required`** with `error.code = \"listings_limit_exceeded\"` on every route EXCEPT:  - `/v1/health` — uptime probes are never gated. - `/v1/usage/*` — so dashboards can render the over-cap state. - Any `DELETE` — so the customer can trim listings to get back under the cap without paying.  Unlike 429, 402 is NOT a \"wait and retry\" condition — `Retry-After` is not set. The only paths back to 200 are:   1. `DELETE` enough listings to come back under the cap, or   2. Upgrade at `https://repull.dev/dashboard/billing`. The server-side usage cache is 60s, so the first 200 after an upgrade may take up to a minute.  The envelope mirrors `rate_limit_exceeded` for SDK ergonomics: `tier`, `limit`, `active_listings`, `upgrade_url`, plus the standard `code` / `message` / `fix` / `docs_url` / `request_id`.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class ConnectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Map, unmap or create listings for units
    # One instruction per unit: `{unitId, listingId}` maps, `{unitId, listingId: null}` unmaps, `{unitId, create: true}` creates a listing. Answers per unit.  Vrbo: nothing is imported when the account is signed in. Applying a mapping that maps at least one unit starts the import: upcoming bookings and the last 30 days of messages first, then the whole account history. Follow it on `GET /v1/connect/vrbo-login` (`accounts[].import`).  Auth: a Repull API key, or a Connect session token (`sessionId`) while the hosted flow is mapping.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;.
    # @param apply_connection_mappings_request [ApplyConnectionMappingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyConnectionMappings200Response]
    def apply_connection_mappings(id, apply_connection_mappings_request, opts = {})
      data, _status_code, _headers = apply_connection_mappings_with_http_info(id, apply_connection_mappings_request, opts)
      data
    end

    # Map, unmap or create listings for units
    # One instruction per unit: &#x60;{unitId, listingId}&#x60; maps, &#x60;{unitId, listingId: null}&#x60; unmaps, &#x60;{unitId, create: true}&#x60; creates a listing. Answers per unit.  Vrbo: nothing is imported when the account is signed in. Applying a mapping that maps at least one unit starts the import: upcoming bookings and the last 30 days of messages first, then the whole account history. Follow it on &#x60;GET /v1/connect/vrbo-login&#x60; (&#x60;accounts[].import&#x60;).  Auth: a Repull API key, or a Connect session token (&#x60;sessionId&#x60;) while the hosted flow is mapping.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;.
    # @param apply_connection_mappings_request [ApplyConnectionMappingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyConnectionMappings200Response, Integer, Hash)>] ApplyConnectionMappings200Response data, response status code and response headers
    def apply_connection_mappings_with_http_info(id, apply_connection_mappings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.apply_connection_mappings ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectionsApi.apply_connection_mappings"
      end
      # verify the required parameter 'apply_connection_mappings_request' is set
      if @api_client.config.client_side_validation && apply_connection_mappings_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_connection_mappings_request' when calling ConnectionsApi.apply_connection_mappings"
      end
      # resource path
      local_var_path = '/v1/connections/{id}/mappings'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_connection_mappings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyConnectionMappings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.apply_connection_mappings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#apply_connection_mappings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Auto-map units by exact name
    # Proposes (or with `apply: true` applies) mappings where a unit's name exactly matches one listing. Never guesses on ambiguity.  Auth: a Repull API key, or a Connect session token (`sessionId`) while the hosted flow is mapping.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [AutoMapConnectionUnitsRequest] :auto_map_connection_units_request 
    # @return [AutoMapConnectionUnits200Response]
    def auto_map_connection_units(id, opts = {})
      data, _status_code, _headers = auto_map_connection_units_with_http_info(id, opts)
      data
    end

    # Auto-map units by exact name
    # Proposes (or with &#x60;apply: true&#x60; applies) mappings where a unit&#39;s name exactly matches one listing. Never guesses on ambiguity.  Auth: a Repull API key, or a Connect session token (&#x60;sessionId&#x60;) while the hosted flow is mapping.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [AutoMapConnectionUnitsRequest] :auto_map_connection_units_request 
    # @return [Array<(AutoMapConnectionUnits200Response, Integer, Hash)>] AutoMapConnectionUnits200Response data, response status code and response headers
    def auto_map_connection_units_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.auto_map_connection_units ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectionsApi.auto_map_connection_units"
      end
      # resource path
      local_var_path = '/v1/connections/{id}/mappings/automap'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'auto_map_connection_units_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AutoMapConnectionUnits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.auto_map_connection_units",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#auto_map_connection_units\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a connection's mappable units
    # The units of a connected account with their current listing, a safe suggestion, and the workspace's listing options. `status: ready` with no units means the account has no properties.  Auth: a Repull API key, or a Connect session token (`sessionId`) while the hosted flow is mapping.  `listing_options` carries only the listings the units already point at (mapped or suggested); `listing_options_total` says how many the workspace has. Search the rest with `GET /v1/connections/{id}/listing-options?q=`.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :session_id The Connect session ID (capability token).
    # @return [ListConnectionUnits200Response]
    def list_connection_units(id, opts = {})
      data, _status_code, _headers = list_connection_units_with_http_info(id, opts)
      data
    end

    # List a connection&#39;s mappable units
    # The units of a connected account with their current listing, a safe suggestion, and the workspace&#39;s listing options. &#x60;status: ready&#x60; with no units means the account has no properties.  Auth: a Repull API key, or a Connect session token (&#x60;sessionId&#x60;) while the hosted flow is mapping.  &#x60;listing_options&#x60; carries only the listings the units already point at (mapped or suggested); &#x60;listing_options_total&#x60; says how many the workspace has. Search the rest with &#x60;GET /v1/connections/{id}/listing-options?q&#x3D;&#x60;.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;, e.g. &#x60;vrbo:12&#x60; or &#x60;booking_extranet:36&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :session_id The Connect session ID (capability token).
    # @return [Array<(ListConnectionUnits200Response, Integer, Hash)>] ListConnectionUnits200Response data, response status code and response headers
    def list_connection_units_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.list_connection_units ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectionsApi.list_connection_units"
      end
      # resource path
      local_var_path = '/v1/connections/{id}/units'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sessionId'] = opts[:'session_id'] if !opts[:'session_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListConnectionUnits200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.list_connection_units",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#list_connection_units\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search listings a unit can be mapped to
    # Search the workspace's active listings by name, city or id, for a mapping picker. A workspace can hold tens of thousands of listings, so pickers search here as the user types rather than loading them all. Empty `q` returns the first `limit` listings by name.  Auth: a Repull API key, or a Connect session token (`sessionId`) while the hosted flow is mapping.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q Text to match (name, city or listing id).
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :session_id 
    # @return [SearchConnectionListingOptions200Response]
    def search_connection_listing_options(id, opts = {})
      data, _status_code, _headers = search_connection_listing_options_with_http_info(id, opts)
      data
    end

    # Search listings a unit can be mapped to
    # Search the workspace&#39;s active listings by name, city or id, for a mapping picker. A workspace can hold tens of thousands of listings, so pickers search here as the user types rather than loading them all. Empty &#x60;q&#x60; returns the first &#x60;limit&#x60; listings by name.  Auth: a Repull API key, or a Connect session token (&#x60;sessionId&#x60;) while the hosted flow is mapping.
    # @param id [String] Connection handle &#x60;{channel}:{externalAccountId}&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q Text to match (name, city or listing id).
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :session_id 
    # @return [Array<(SearchConnectionListingOptions200Response, Integer, Hash)>] SearchConnectionListingOptions200Response data, response status code and response headers
    def search_connection_listing_options_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.search_connection_listing_options ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectionsApi.search_connection_listing_options"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 50
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConnectionsApi.search_connection_listing_options, must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConnectionsApi.search_connection_listing_options, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/connections/{id}/listing-options'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sessionId'] = opts[:'session_id'] if !opts[:'session_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchConnectionListingOptions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectionsApi.search_connection_listing_options",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#search_connection_listing_options\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
