=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class ConnectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a multi-channel Connect picker session
    # Mints a session that lands the user on the channel picker at `connect.repull.dev/{sessionId}` instead of jumping straight to a single provider. The user picks a channel from the registry, the picker page POSTs `selectConnectProvider` to bind the choice, and the per-provider flow takes over.  Use this when you want one entry point for all 13 channels. Use `POST /v1/connect/{provider}` instead when your UI already knows which channel to connect.
    # @param create_connect_session_request [CreateConnectSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectSession]
    def create_connect_session(create_connect_session_request, opts = {})
      data, _status_code, _headers = create_connect_session_with_http_info(create_connect_session_request, opts)
      data
    end

    # Create a multi-channel Connect picker session
    # Mints a session that lands the user on the channel picker at &#x60;connect.repull.dev/{sessionId}&#x60; instead of jumping straight to a single provider. The user picks a channel from the registry, the picker page POSTs &#x60;selectConnectProvider&#x60; to bind the choice, and the per-provider flow takes over.  Use this when you want one entry point for all 13 channels. Use &#x60;POST /v1/connect/{provider}&#x60; instead when your UI already knows which channel to connect.
    # @param create_connect_session_request [CreateConnectSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectSession, Integer, Hash)>] ConnectSession data, response status code and response headers
    def create_connect_session_with_http_info(create_connect_session_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.create_connect_session ...'
      end
      # verify the required parameter 'create_connect_session_request' is set
      if @api_client.config.client_side_validation && create_connect_session_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_connect_session_request' when calling ConnectApi.create_connect_session"
      end
      # resource path
      local_var_path = '/v1/connect'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_connect_session_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectSession'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.create_connect_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#create_connect_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connect to PMS/OTA provider
    # Establish a connection to a PMS or OTA platform. Credentials vary by provider — see docs for each provider.  Airbnb-specific: pass `redirectUrl` (where to send the user after consent) and optionally `accessType` (`read_only` for calendar-only OAuth scopes, or `full_access` — the default — for full host scopes). The response returns a hosted `oauthUrl` to redirect the user to.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @option opts [CreateConnectionRequest] :create_connection_request 
    # @return [Connection]
    def create_connection(provider, opts = {})
      data, _status_code, _headers = create_connection_with_http_info(provider, opts)
      data
    end

    # Connect to PMS/OTA provider
    # Establish a connection to a PMS or OTA platform. Credentials vary by provider — see docs for each provider.  Airbnb-specific: pass &#x60;redirectUrl&#x60; (where to send the user after consent) and optionally &#x60;accessType&#x60; (&#x60;read_only&#x60; for calendar-only OAuth scopes, or &#x60;full_access&#x60; — the default — for full host scopes). The response returns a hosted &#x60;oauthUrl&#x60; to redirect the user to.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @option opts [CreateConnectionRequest] :create_connection_request 
    # @return [Array<(Connection, Integer, Hash)>] Connection data, response status code and response headers
    def create_connection_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.create_connection ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ConnectApi.create_connection"
      end
      # resource path
      local_var_path = '/v1/connect/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_connection_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Connection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.create_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#create_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disconnect provider
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_connection(provider, opts = {})
      delete_connection_with_http_info(provider, opts)
      nil
    end

    # Disconnect provider
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_connection_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.delete_connection ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ConnectApi.delete_connection"
      end
      # resource path
      local_var_path = '/v1/connect/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.delete_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#delete_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get connection status
    # Returns the current connection status for a provider, including host metadata (display name + avatar) for Airbnb so clients can render an account-level confirmation UI.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [ConnectStatus]
    def get_connect_status(provider, opts = {})
      data, _status_code, _headers = get_connect_status_with_http_info(provider, opts)
      data
    end

    # Get connection status
    # Returns the current connection status for a provider, including host metadata (display name + avatar) for Airbnb so clients can render an account-level confirmation UI.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectStatus, Integer, Hash)>] ConnectStatus data, response status code and response headers
    def get_connect_status_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_connect_status ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ConnectApi.get_connect_status"
      end
      # resource path
      local_var_path = '/v1/connect/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_connect_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_connect_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Booking.com rooms imported for a Connect session
    # Returns the rooms imported from the Booking.com hotel claimed in this Connect session, plus the customer's listing options for the mapping dropdowns. Hosted-picker pages poll this endpoint every ~2s after `verifyBookingHotel` succeeds; once rooms appear the page transitions to the mapping UI.  No API key required — the `sessionId` query param is the capability token.
    # @param session_id [String] The Connect session ID returned by &#x60;createConnectSession&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [BookingConnectRoomsResponse]
    def list_connect_booking_rooms(session_id, opts = {})
      data, _status_code, _headers = list_connect_booking_rooms_with_http_info(session_id, opts)
      data
    end

    # List Booking.com rooms imported for a Connect session
    # Returns the rooms imported from the Booking.com hotel claimed in this Connect session, plus the customer&#39;s listing options for the mapping dropdowns. Hosted-picker pages poll this endpoint every ~2s after &#x60;verifyBookingHotel&#x60; succeeds; once rooms appear the page transitions to the mapping UI.  No API key required — the &#x60;sessionId&#x60; query param is the capability token.
    # @param session_id [String] The Connect session ID returned by &#x60;createConnectSession&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BookingConnectRoomsResponse, Integer, Hash)>] BookingConnectRoomsResponse data, response status code and response headers
    def list_connect_booking_rooms_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_connect_booking_rooms ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling ConnectApi.list_connect_booking_rooms"
      end
      # resource path
      local_var_path = '/v1/connect/booking/rooms'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sessionId'] = session_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BookingConnectRoomsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectApi.list_connect_booking_rooms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_connect_booking_rooms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Connect channels
    # Returns the public registry of every channel the picker supports. No customer-specific data — display metadata only. Cached for 5 minutes at the edge.
    # @param [Hash] opts the optional parameters
    # @return [ConnectProviderListResponse]
    def list_connect_providers(opts = {})
      data, _status_code, _headers = list_connect_providers_with_http_info(opts)
      data
    end

    # List Connect channels
    # Returns the public registry of every channel the picker supports. No customer-specific data — display metadata only. Cached for 5 minutes at the edge.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectProviderListResponse, Integer, Hash)>] ConnectProviderListResponse data, response status code and response headers
    def list_connect_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_connect_providers ...'
      end
      # resource path
      local_var_path = '/v1/connect/providers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectProviderListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectApi.list_connect_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_connect_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List PMS/OTA connections
    # Returns all active connections to PMS and OTA platforms.
    # @param [Hash] opts the optional parameters
    # @return [ConnectionListResponse]
    def list_connections(opts = {})
      data, _status_code, _headers = list_connections_with_http_info(opts)
      data
    end

    # List PMS/OTA connections
    # Returns all active connections to PMS and OTA platforms.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectionListResponse, Integer, Hash)>] ConnectionListResponse data, response status code and response headers
    def list_connections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.list_connections ...'
      end
      # resource path
      local_var_path = '/v1/connect'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.list_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#list_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit room→listing mappings for a Booking.com Connect session
    # Submits the customer's room→listing mapping choices in one transaction. For each mapping, updates `listings_booking_rooms.listing_id` and replaces the corresponding `listing_platform_links` row. Pass `listingId: null` to explicitly unmap a room.  On success the Connect session is marked `completed` and the hosted picker page emits a `repull:connect:completed` postMessage to the embedding window.  No API key required — the `sessionId` in the body is the capability token. Each mapping's `roomId` must belong to the customer's claimed hotel; mismatched IDs are rejected with 403.
    # @param map_connect_booking_rooms_request [MapConnectBookingRoomsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MapConnectBookingRoomsResponse]
    def map_connect_booking_rooms(map_connect_booking_rooms_request, opts = {})
      data, _status_code, _headers = map_connect_booking_rooms_with_http_info(map_connect_booking_rooms_request, opts)
      data
    end

    # Submit room→listing mappings for a Booking.com Connect session
    # Submits the customer&#39;s room→listing mapping choices in one transaction. For each mapping, updates &#x60;listings_booking_rooms.listing_id&#x60; and replaces the corresponding &#x60;listing_platform_links&#x60; row. Pass &#x60;listingId: null&#x60; to explicitly unmap a room.  On success the Connect session is marked &#x60;completed&#x60; and the hosted picker page emits a &#x60;repull:connect:completed&#x60; postMessage to the embedding window.  No API key required — the &#x60;sessionId&#x60; in the body is the capability token. Each mapping&#39;s &#x60;roomId&#x60; must belong to the customer&#39;s claimed hotel; mismatched IDs are rejected with 403.
    # @param map_connect_booking_rooms_request [MapConnectBookingRoomsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MapConnectBookingRoomsResponse, Integer, Hash)>] MapConnectBookingRoomsResponse data, response status code and response headers
    def map_connect_booking_rooms_with_http_info(map_connect_booking_rooms_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.map_connect_booking_rooms ...'
      end
      # verify the required parameter 'map_connect_booking_rooms_request' is set
      if @api_client.config.client_side_validation && map_connect_booking_rooms_request.nil?
        fail ArgumentError, "Missing the required parameter 'map_connect_booking_rooms_request' when calling ConnectApi.map_connect_booking_rooms"
      end
      # resource path
      local_var_path = '/v1/connect/booking/map-rooms'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(map_connect_booking_rooms_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MapConnectBookingRoomsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectApi.map_connect_booking_rooms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#map_connect_booking_rooms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bind a picker session to a provider
    # Called by the hosted picker page once the user clicks a channel card. Validates the provider exists and is permitted by the session's `allowed_providers` whitelist (if any), then returns the next-step URL the picker should navigate to.  No API key required — the session ID is the capability token. The session must still be pending and unexpired.
    # @param session_id [String] The picker session ID returned by &#x60;createConnectSession&#x60;.
    # @param select_connect_provider_request [SelectConnectProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SelectProviderResponse]
    def select_connect_provider(session_id, select_connect_provider_request, opts = {})
      data, _status_code, _headers = select_connect_provider_with_http_info(session_id, select_connect_provider_request, opts)
      data
    end

    # Bind a picker session to a provider
    # Called by the hosted picker page once the user clicks a channel card. Validates the provider exists and is permitted by the session&#39;s &#x60;allowed_providers&#x60; whitelist (if any), then returns the next-step URL the picker should navigate to.  No API key required — the session ID is the capability token. The session must still be pending and unexpired.
    # @param session_id [String] The picker session ID returned by &#x60;createConnectSession&#x60;.
    # @param select_connect_provider_request [SelectConnectProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SelectProviderResponse, Integer, Hash)>] SelectProviderResponse data, response status code and response headers
    def select_connect_provider_with_http_info(session_id, select_connect_provider_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.select_connect_provider ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling ConnectApi.select_connect_provider"
      end
      # verify the required parameter 'select_connect_provider_request' is set
      if @api_client.config.client_side_validation && select_connect_provider_request.nil?
        fail ArgumentError, "Missing the required parameter 'select_connect_provider_request' when calling ConnectApi.select_connect_provider"
      end
      # resource path
      local_var_path = '/v1/connect/sessions/{sessionId}/select-provider'.sub('{sessionId}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(select_connect_provider_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SelectProviderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectApi.select_connect_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#select_connect_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a Booking.com hotel ID for a Connect session
    # Manual-paste fallback that closes the Booking.com claim flow. Call this after the customer completes Stage 1 designation in their Booking Extranet (ticking FantasticStay/Repull as their connectivity provider) and pastes their Hotel ID into the hosted picker.  Validates the hotel against Booking's property API, persists the `pms_connections` row, kicks off the room import, and transitions the Connect session to `awaiting_room_mapping`.  No API key required — the `sessionId` is the capability token. Sessions in any terminal state are rejected.
    # @param booking_verify_hotel_request [BookingVerifyHotelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BookingVerifyHotelResponse]
    def verify_booking_hotel(booking_verify_hotel_request, opts = {})
      data, _status_code, _headers = verify_booking_hotel_with_http_info(booking_verify_hotel_request, opts)
      data
    end

    # Verify a Booking.com hotel ID for a Connect session
    # Manual-paste fallback that closes the Booking.com claim flow. Call this after the customer completes Stage 1 designation in their Booking Extranet (ticking FantasticStay/Repull as their connectivity provider) and pastes their Hotel ID into the hosted picker.  Validates the hotel against Booking&#39;s property API, persists the &#x60;pms_connections&#x60; row, kicks off the room import, and transitions the Connect session to &#x60;awaiting_room_mapping&#x60;.  No API key required — the &#x60;sessionId&#x60; is the capability token. Sessions in any terminal state are rejected.
    # @param booking_verify_hotel_request [BookingVerifyHotelRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BookingVerifyHotelResponse, Integer, Hash)>] BookingVerifyHotelResponse data, response status code and response headers
    def verify_booking_hotel_with_http_info(booking_verify_hotel_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.verify_booking_hotel ...'
      end
      # verify the required parameter 'booking_verify_hotel_request' is set
      if @api_client.config.client_side_validation && booking_verify_hotel_request.nil?
        fail ArgumentError, "Missing the required parameter 'booking_verify_hotel_request' when calling ConnectApi.verify_booking_hotel"
      end
      # resource path
      local_var_path = '/v1/connect/booking/verify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(booking_verify_hotel_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BookingVerifyHotelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectApi.verify_booking_hotel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#verify_booking_hotel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
