=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: hello@repull.dev
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class ConnectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List PMS/OTA connections
    # Returns all active connections to PMS and OTA platforms.
    # @param [Hash] opts the optional parameters
    # @return [V1ConnectGet200Response]
    def v1_connect_get(opts = {})
      data, _status_code, _headers = v1_connect_get_with_http_info(opts)
      data
    end

    # List PMS/OTA connections
    # Returns all active connections to PMS and OTA platforms.
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ConnectGet200Response, Integer, Hash)>] V1ConnectGet200Response data, response status code and response headers
    def v1_connect_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.v1_connect_get ...'
      end
      # resource path
      local_var_path = '/v1/connect'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ConnectGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.v1_connect_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#v1_connect_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disconnect provider
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_connect_provider_delete(provider, opts = {})
      v1_connect_provider_delete_with_http_info(provider, opts)
      nil
    end

    # Disconnect provider
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_connect_provider_delete_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.v1_connect_provider_delete ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ConnectApi.v1_connect_provider_delete"
      end
      # resource path
      local_var_path = '/v1/connect/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.v1_connect_provider_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#v1_connect_provider_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get connection status
    # Returns the current connection status for a provider, including host metadata (display name + avatar) for Airbnb so clients can render an account-level confirmation UI.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [ConnectStatus]
    def v1_connect_provider_get(provider, opts = {})
      data, _status_code, _headers = v1_connect_provider_get_with_http_info(provider, opts)
      data
    end

    # Get connection status
    # Returns the current connection status for a provider, including host metadata (display name + avatar) for Airbnb so clients can render an account-level confirmation UI.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectStatus, Integer, Hash)>] ConnectStatus data, response status code and response headers
    def v1_connect_provider_get_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.v1_connect_provider_get ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ConnectApi.v1_connect_provider_get"
      end
      # resource path
      local_var_path = '/v1/connect/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectStatus'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.v1_connect_provider_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#v1_connect_provider_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Connect to PMS/OTA provider
    # Establish a connection to a PMS or OTA platform. Credentials vary by provider — see docs for each provider.  Airbnb-specific: pass `redirectUrl` (where to send the user after consent) and optionally `accessType` (`read_only` for calendar-only OAuth scopes, or `full_access` — the default — for full host scopes). The response returns a hosted `oauthUrl` to redirect the user to.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @option opts [V1ConnectProviderPostRequest] :v1_connect_provider_post_request 
    # @return [Connection]
    def v1_connect_provider_post(provider, opts = {})
      data, _status_code, _headers = v1_connect_provider_post_with_http_info(provider, opts)
      data
    end

    # Connect to PMS/OTA provider
    # Establish a connection to a PMS or OTA platform. Credentials vary by provider — see docs for each provider.  Airbnb-specific: pass &#x60;redirectUrl&#x60; (where to send the user after consent) and optionally &#x60;accessType&#x60; (&#x60;read_only&#x60; for calendar-only OAuth scopes, or &#x60;full_access&#x60; — the default — for full host scopes). The response returns a hosted &#x60;oauthUrl&#x60; to redirect the user to.
    # @param provider [String] PMS provider slug (e.g., hostaway, guesty, ownerrez)
    # @param [Hash] opts the optional parameters
    # @option opts [V1ConnectProviderPostRequest] :v1_connect_provider_post_request 
    # @return [Array<(Connection, Integer, Hash)>] Connection data, response status code and response headers
    def v1_connect_provider_post_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.v1_connect_provider_post ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ConnectApi.v1_connect_provider_post"
      end
      # resource path
      local_var_path = '/v1/connect/{provider}'.sub('{provider}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v1_connect_provider_post_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Connection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConnectApi.v1_connect_provider_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#v1_connect_provider_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
