=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class ConversationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List conversations
    # @param [Hash] opts the optional parameters
    # @return [V1ConversationsGet200Response]
    def v1_conversations_get(opts = {})
      data, _status_code, _headers = v1_conversations_get_with_http_info(opts)
      data
    end

    # List conversations
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ConversationsGet200Response, Integer, Hash)>] V1ConversationsGet200Response data, response status code and response headers
    def v1_conversations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationsApi.v1_conversations_get ...'
      end
      # resource path
      local_var_path = '/v1/conversations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ConversationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConversationsApi.v1_conversations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationsApi#v1_conversations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get messages in conversation
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [V1ConversationsIdMessagesGet200Response]
    def v1_conversations_id_messages_get(id, opts = {})
      data, _status_code, _headers = v1_conversations_id_messages_get_with_http_info(id, opts)
      data
    end

    # Get messages in conversation
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(V1ConversationsIdMessagesGet200Response, Integer, Hash)>] V1ConversationsIdMessagesGet200Response data, response status code and response headers
    def v1_conversations_id_messages_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationsApi.v1_conversations_id_messages_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConversationsApi.v1_conversations_id_messages_get"
      end
      # resource path
      local_var_path = '/v1/conversations/{id}/messages'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ConversationsIdMessagesGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConversationsApi.v1_conversations_id_messages_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationsApi#v1_conversations_id_messages_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send message
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [V1ConversationsIdMessagesPostRequest] :v1_conversations_id_messages_post_request 
    # @return [nil]
    def v1_conversations_id_messages_post(id, opts = {})
      v1_conversations_id_messages_post_with_http_info(id, opts)
      nil
    end

    # Send message
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [V1ConversationsIdMessagesPostRequest] :v1_conversations_id_messages_post_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_conversations_id_messages_post_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConversationsApi.v1_conversations_id_messages_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConversationsApi.v1_conversations_id_messages_post"
      end
      # resource path
      local_var_path = '/v1/conversations/{id}/messages'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v1_conversations_id_messages_post_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ConversationsApi.v1_conversations_id_messages_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConversationsApi#v1_conversations_id_messages_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
