=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Designed for AI agents Every error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human: - `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`) - `error.message` — human-readable cause - `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\") - `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}` - `error.request_id` — id to correlate with server-side logs - `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific - `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)  `Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.  ## Request Correlation (X-Request-ID) Every response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.  You may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.  The id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.  ## Rate Limits The public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.  **Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.  Every response includes:  | Header | Meaning | |---|---| | `X-RateLimit-Limit` | Requests permitted in the current window. | | `X-RateLimit-Remaining` | Requests left in the current window after this call. | | `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. | | `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. | | `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |  **On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.  Recommended backoff: ``` sleep_ms = (Retry-After * 1000) + random(0..250) ```  Monthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resets_at` fields.  ## Plan Limits (402 — `listings_limit_exceeded`) The Repull API also enforces a per-tier cap on **active listings**:  | Tier | Active listings cap | |---|---| | `free` | 5 | | `starter` | 50 | | `custom` | unlimited |  When a customer's active-listing count is above their tier cap, the API returns **`402 Payment Required`** with `error.code = \"listings_limit_exceeded\"` on every route EXCEPT:  - `/v1/health` — uptime probes are never gated. - `/v1/usage/*` — so dashboards can render the over-cap state. - Any `DELETE` — so the customer can trim listings to get back under the cap without paying.  Unlike 429, 402 is NOT a \"wait and retry\" condition — `Retry-After` is not set. The only paths back to 200 are:   1. `DELETE` enough listings to come back under the cap, or   2. Upgrade at `https://repull.dev/dashboard/billing`. The server-side usage cache is 60s, so the first 200 after an upgrade may take up to a minute.  The envelope mirrors `rate_limit_exceeded` for SDK ergonomics: `tier`, `limit`, `active_listings`, `upgrade_url`, plus the standard `code` / `message` / `fix` / `docs_url` / `request_id`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class KVApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Clear KV entries by prefix
    # Bulk-deletes every key in the project whose name starts with `prefix`. The `prefix` parameter is required — there is no \"delete every key in this project\" shortcut; pass an empty `prefix` is rejected with 422 to prevent accidental wipes. Returns the number of rows removed.
    # @param prefix [String] Required. Keys starting with this string are deleted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [ClearKv200Response]
    def clear_kv(prefix, opts = {})
      data, _status_code, _headers = clear_kv_with_http_info(prefix, opts)
      data
    end

    # Clear KV entries by prefix
    # Bulk-deletes every key in the project whose name starts with &#x60;prefix&#x60;. The &#x60;prefix&#x60; parameter is required — there is no \&quot;delete every key in this project\&quot; shortcut; pass an empty &#x60;prefix&#x60; is rejected with 422 to prevent accidental wipes. Returns the number of rows removed.
    # @param prefix [String] Required. Keys starting with this string are deleted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [Array<(ClearKv200Response, Integer, Hash)>] ClearKv200Response data, response status code and response headers
    def clear_kv_with_http_info(prefix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KVApi.clear_kv ...'
      end
      # verify the required parameter 'prefix' is set
      if @api_client.config.client_side_validation && prefix.nil?
        fail ArgumentError, "Missing the required parameter 'prefix' when calling KVApi.clear_kv"
      end
      # resource path
      local_var_path = '/v1/kv'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'prefix'] = prefix
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ClearKv200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KVApi.clear_kv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KVApi#clear_kv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a KV entry
    # Removes a single key. Returns `{ deleted: true }` if the row was present, `{ deleted: false }` if it was already absent — both are 200 (idempotent).
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [DeleteKv200Response]
    def delete_kv(key, opts = {})
      data, _status_code, _headers = delete_kv_with_http_info(key, opts)
      data
    end

    # Delete a KV entry
    # Removes a single key. Returns &#x60;{ deleted: true }&#x60; if the row was present, &#x60;{ deleted: false }&#x60; if it was already absent — both are 200 (idempotent).
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [Array<(DeleteKv200Response, Integer, Hash)>] DeleteKv200Response data, response status code and response headers
    def delete_kv_with_http_info(key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KVApi.delete_kv ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling KVApi.delete_kv"
      end
      # resource path
      local_var_path = '/v1/kv/{key}'.sub('{key}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteKv200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KVApi.delete_kv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KVApi#delete_kv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a KV entry
    # Fetches a single key. Returns 404 when the key does not exist OR has expired (rows past `ttl_at` are filtered from reads). Cross-tenant lookups also return 404 — the API never reveals existence of another customer's keys.
    # @param key [String] KV key. URL-encode &#x60;/&#x60;, &#x60;:&#x60;, etc. so they survive routing.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [ListKv200ResponseDataInner]
    def get_kv(key, opts = {})
      data, _status_code, _headers = get_kv_with_http_info(key, opts)
      data
    end

    # Get a KV entry
    # Fetches a single key. Returns 404 when the key does not exist OR has expired (rows past &#x60;ttl_at&#x60; are filtered from reads). Cross-tenant lookups also return 404 — the API never reveals existence of another customer&#39;s keys.
    # @param key [String] KV key. URL-encode &#x60;/&#x60;, &#x60;:&#x60;, etc. so they survive routing.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [Array<(ListKv200ResponseDataInner, Integer, Hash)>] ListKv200ResponseDataInner data, response status code and response headers
    def get_kv_with_http_info(key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KVApi.get_kv ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling KVApi.get_kv"
      end
      # resource path
      local_var_path = '/v1/kv/{key}'.sub('{key}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListKv200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KVApi.get_kv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KVApi#get_kv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List KV entries
    # Returns every non-expired key-value row in the given project, sorted ascending by key. Use `prefix` to scope to a key namespace (e.g. `prefix=user:42:` to fetch all entries for one user). Hard cap of 1,000 rows per response — for projects approaching that, paginate by walking prefix buckets.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id Project namespace. Defaults to &#x60;default&#x60;. Free-form string the customer chooses (typically the Studio project id). (default to 'default')
    # @option opts [String] :prefix Restrict to keys starting with this string. &#x60;LIKE&#x60; wildcards (&#x60;%&#x60;, &#x60;_&#x60;) are escaped — pass them literally.
    # @return [ListKv200Response]
    def list_kv(opts = {})
      data, _status_code, _headers = list_kv_with_http_info(opts)
      data
    end

    # List KV entries
    # Returns every non-expired key-value row in the given project, sorted ascending by key. Use &#x60;prefix&#x60; to scope to a key namespace (e.g. &#x60;prefix&#x3D;user:42:&#x60; to fetch all entries for one user). Hard cap of 1,000 rows per response — for projects approaching that, paginate by walking prefix buckets.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id Project namespace. Defaults to &#x60;default&#x60;. Free-form string the customer chooses (typically the Studio project id). (default to 'default')
    # @option opts [String] :prefix Restrict to keys starting with this string. &#x60;LIKE&#x60; wildcards (&#x60;%&#x60;, &#x60;_&#x60;) are escaped — pass them literally.
    # @return [Array<(ListKv200Response, Integer, Hash)>] ListKv200Response data, response status code and response headers
    def list_kv_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KVApi.list_kv ...'
      end
      # resource path
      local_var_path = '/v1/kv'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'prefix'] = opts[:'prefix'] if !opts[:'prefix'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListKv200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KVApi.list_kv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KVApi#list_kv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set a KV entry
    # Upserts a key. The full row is replaced — there is no partial update. Pass `ttl_seconds` (positive integer) to auto-expire the row; omit for no expiry. **Caps:** 64 KiB per row (key bytes + value JSON bytes), 1 MiB per customer (sum across ALL projects/keys). Over either cap returns 413.
    # @param key [String] 
    # @param set_kv_request [SetKvRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [ListKv200ResponseDataInner]
    def set_kv(key, set_kv_request, opts = {})
      data, _status_code, _headers = set_kv_with_http_info(key, set_kv_request, opts)
      data
    end

    # Set a KV entry
    # Upserts a key. The full row is replaced — there is no partial update. Pass &#x60;ttl_seconds&#x60; (positive integer) to auto-expire the row; omit for no expiry. **Caps:** 64 KiB per row (key bytes + value JSON bytes), 1 MiB per customer (sum across ALL projects/keys). Over either cap returns 413.
    # @param key [String] 
    # @param set_kv_request [SetKvRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id  (default to 'default')
    # @return [Array<(ListKv200ResponseDataInner, Integer, Hash)>] ListKv200ResponseDataInner data, response status code and response headers
    def set_kv_with_http_info(key, set_kv_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KVApi.set_kv ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling KVApi.set_kv"
      end
      # verify the required parameter 'set_kv_request' is set
      if @api_client.config.client_side_validation && set_kv_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_kv_request' when calling KVApi.set_kv"
      end
      # resource path
      local_var_path = '/v1/kv/{key}'.sub('{key}', CGI.escape(key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_kv_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListKv200ResponseDataInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"KVApi.set_kv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KVApi#set_kv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
