=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class MarketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deep-dive on a single market
    # Detailed market view for one city — price distribution, bedroom mix, property types, upcoming events, Wheelhouse demand, monthly benchmarks, customer health rollup, top comps (proximity-sorted, paginated), customer's percentile position, capacity-mix gap, and a 6-month supply trend.
    # @param city [String] URL-encoded city name (e.g. &#x60;Radium%20Hot%20Springs&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :comps_page 1-indexed page number for the &#x60;topComps&#x60; slice. (default to 1)
    # @return [MarketDetailResponse]
    def get_market(city, opts = {})
      data, _status_code, _headers = get_market_with_http_info(city, opts)
      data
    end

    # Deep-dive on a single market
    # Detailed market view for one city — price distribution, bedroom mix, property types, upcoming events, Wheelhouse demand, monthly benchmarks, customer health rollup, top comps (proximity-sorted, paginated), customer&#39;s percentile position, capacity-mix gap, and a 6-month supply trend.
    # @param city [String] URL-encoded city name (e.g. &#x60;Radium%20Hot%20Springs&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :comps_page 1-indexed page number for the &#x60;topComps&#x60; slice. (default to 1)
    # @return [Array<(MarketDetailResponse, Integer, Hash)>] MarketDetailResponse data, response status code and response headers
    def get_market_with_http_info(city, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketsApi.get_market ...'
      end
      # verify the required parameter 'city' is set
      if @api_client.config.client_side_validation && city.nil?
        fail ArgumentError, "Missing the required parameter 'city' when calling MarketsApi.get_market"
      end
      if @api_client.config.client_side_validation && !opts[:'comps_page'].nil? && opts[:'comps_page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"comps_page"]" when calling MarketsApi.get_market, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/markets/{city}'.sub('{city}', CGI.escape(city.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'compsPage'] = opts[:'comps_page'] if !opts[:'comps_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MarketsApi.get_market",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketsApi#get_market\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Calendar-level market view
    # Date-by-date market view for a city — market avg / min / max nightly rate, occupancy %, Wheelhouse demand, events touching the date, and (when `listingId` is supplied) an overlay of the customer's own pricing + availability.
    # @param city [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Defaults to today.
    # @option opts [Date] :end_date Defaults to today + 365 days.
    # @option opts [Integer] :listing_id Optional — overlays the customer&#39;s own pricing/availability for direct comparison. Bypasses the upstream cache.
    # @return [MarketCalendarResponse]
    def get_market_calendar(city, opts = {})
      data, _status_code, _headers = get_market_calendar_with_http_info(city, opts)
      data
    end

    # Calendar-level market view
    # Date-by-date market view for a city — market avg / min / max nightly rate, occupancy %, Wheelhouse demand, events touching the date, and (when &#x60;listingId&#x60; is supplied) an overlay of the customer&#39;s own pricing + availability.
    # @param city [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Defaults to today.
    # @option opts [Date] :end_date Defaults to today + 365 days.
    # @option opts [Integer] :listing_id Optional — overlays the customer&#39;s own pricing/availability for direct comparison. Bypasses the upstream cache.
    # @return [Array<(MarketCalendarResponse, Integer, Hash)>] MarketCalendarResponse data, response status code and response headers
    def get_market_calendar_with_http_info(city, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketsApi.get_market_calendar ...'
      end
      # verify the required parameter 'city' is set
      if @api_client.config.client_side_validation && city.nil?
        fail ArgumentError, "Missing the required parameter 'city' when calling MarketsApi.get_market_calendar"
      end
      # resource path
      local_var_path = '/v1/markets/{city}/calendar'.sub('{city}', CGI.escape(city.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'listingId'] = opts[:'listing_id'] if !opts[:'listing_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketCalendarResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MarketsApi.get_market_calendar",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketsApi#get_market_calendar\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Paginated discovery catalog
    # Cursor-paginated, search-filterable catalog of every Atlas-tracked market the customer could expand into. Backed by the precomputed `market_summaries` table (>=5 active comps per city). Supports fuzzy `q` substring search (trigram-indexed), `country` (ISO 3166-1 alpha-2) filter, and `sort` (`listings_desc` | `name_asc`). Use the `next_cursor` from `pagination` to walk pages — the cursor is an opaque base64 token; do not parse it.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q Substring match on city name (case-insensitive).
    # @option opts [String] :country ISO 3166-1 alpha-2 (e.g. &#x60;US&#x60;, &#x60;ES&#x60;).
    # @option opts [Integer] :min_listings Minimum comp-set size — cities with fewer active comps are excluded. (default to 5)
    # @option opts [String] :cursor Opaque cursor returned by the previous page&#39;s &#x60;pagination.next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 30)
    # @option opts [String] :sort  (default to 'listings_desc')
    # @return [MarketBrowseResponse]
    def list_market_browse(opts = {})
      data, _status_code, _headers = list_market_browse_with_http_info(opts)
      data
    end

    # Paginated discovery catalog
    # Cursor-paginated, search-filterable catalog of every Atlas-tracked market the customer could expand into. Backed by the precomputed &#x60;market_summaries&#x60; table (&gt;&#x3D;5 active comps per city). Supports fuzzy &#x60;q&#x60; substring search (trigram-indexed), &#x60;country&#x60; (ISO 3166-1 alpha-2) filter, and &#x60;sort&#x60; (&#x60;listings_desc&#x60; | &#x60;name_asc&#x60;). Use the &#x60;next_cursor&#x60; from &#x60;pagination&#x60; to walk pages — the cursor is an opaque base64 token; do not parse it.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :q Substring match on city name (case-insensitive).
    # @option opts [String] :country ISO 3166-1 alpha-2 (e.g. &#x60;US&#x60;, &#x60;ES&#x60;).
    # @option opts [Integer] :min_listings Minimum comp-set size — cities with fewer active comps are excluded. (default to 5)
    # @option opts [String] :cursor Opaque cursor returned by the previous page&#39;s &#x60;pagination.next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 30)
    # @option opts [String] :sort  (default to 'listings_desc')
    # @return [Array<(MarketBrowseResponse, Integer, Hash)>] MarketBrowseResponse data, response status code and response headers
    def list_market_browse_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketsApi.list_market_browse ...'
      end
      if @api_client.config.client_side_validation && !opts[:'country'].nil? && opts[:'country'].to_s.length > 2
        fail ArgumentError, 'invalid value for "opts[:"country"]" when calling MarketsApi.list_market_browse, the character length must be smaller than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'country'].nil? && opts[:'country'].to_s.length < 2
        fail ArgumentError, 'invalid value for "opts[:"country"]" when calling MarketsApi.list_market_browse, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'min_listings'].nil? && opts[:'min_listings'] < 0
        fail ArgumentError, 'invalid value for "opts[:"min_listings"]" when calling MarketsApi.list_market_browse, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MarketsApi.list_market_browse, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MarketsApi.list_market_browse, must be greater than or equal to 1.'
      end

      allowable_values = ["listings_desc", "name_asc"]
      if @api_client.config.client_side_validation && opts[:'sort'] && !allowable_values.include?(opts[:'sort'])
        fail ArgumentError, "invalid value for \"sort\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/markets/browse'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'min_listings'] = opts[:'min_listings'] if !opts[:'min_listings'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketBrowseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MarketsApi.list_market_browse",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketsApi#list_market_browse\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List markets the customer operates in
    # Returns per-city KPIs across every market the authenticated customer has listings in (market share, ADR vs market, occupancy, ratings) plus a lightweight `browse` discovery summary (top-50 featured markets, country categories, total catalog size). For the full paginated discovery catalog with search, call `GET /v1/markets/browse`. Each `markets[]` entry is enriched with `subscribed` + `source` from the customer's market subscriptions.
    # @param [Hash] opts the optional parameters
    # @return [MarketsOverviewResponse]
    def list_markets(opts = {})
      data, _status_code, _headers = list_markets_with_http_info(opts)
      data
    end

    # List markets the customer operates in
    # Returns per-city KPIs across every market the authenticated customer has listings in (market share, ADR vs market, occupancy, ratings) plus a lightweight &#x60;browse&#x60; discovery summary (top-50 featured markets, country categories, total catalog size). For the full paginated discovery catalog with search, call &#x60;GET /v1/markets/browse&#x60;. Each &#x60;markets[]&#x60; entry is enriched with &#x60;subscribed&#x60; + &#x60;source&#x60; from the customer&#39;s market subscriptions.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarketsOverviewResponse, Integer, Hash)>] MarketsOverviewResponse data, response status code and response headers
    def list_markets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MarketsApi.list_markets ...'
      end
      # resource path
      local_var_path = '/v1/markets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MarketsOverviewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MarketsApi.list_markets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MarketsApi#list_markets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
