=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Designed for AI agents Every error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human: - `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`) - `error.message` — human-readable cause - `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\") - `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}` - `error.request_id` — id to correlate with server-side logs - `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific - `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)  `Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_live_YOUR_API_KEY ```  ## Request Correlation (X-Request-ID) Every response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.  You may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.  The id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.  ## Rate Limits The public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.  **Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.  Every response includes:  | Header | Meaning | |---|---| | `X-RateLimit-Limit` | Requests permitted in the current window. | | `X-RateLimit-Remaining` | Requests left in the current window after this call. | | `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. | | `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. | | `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |  **On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.  Recommended backoff: ``` sleep_ms = (Retry-After * 1000) + random(0..250) ```  Monthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resetsAt` fields.  ## Plan Limits (402 — `listings_limit_exceeded`) The Repull API also enforces a per-tier cap on **active listings**:  | Tier | Active listings cap | |---|---| | `free` | 3 | | `starter` | 50 | | `custom` | unlimited |  When a customer's active-listing count is above their tier cap, the API returns **`402 Payment Required`** with `error.code = \"listings_limit_exceeded\"` on every route EXCEPT:  - `/v1/health` — uptime probes are never gated. - `/v1/usage/*` — so dashboards can render the over-cap state. - Any `DELETE` — so the customer can trim listings to get back under the cap without paying.  Unlike 429, 402 is NOT a \"wait and retry\" condition — `Retry-After` is not set. The only paths back to 200 are:   1. `DELETE` enough listings to come back under the cap, or   2. Upgrade at `https://repull.dev/dashboard/billing`. The server-side usage cache is 60s, so the first 200 after an upgrade may take up to a minute.  The envelope mirrors `rate_limit_exceeded` for SDK ergonomics: `tier`, `limit`, `active_listings`, `upgrade_url`, plus the standard `code` / `message` / `fix` / `docs_url` / `request_id`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class MigrateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check reservations before switching
    # Send every upcoming reservation the destination holds; get back what is missing, extra, or on different dates compared with the source. Read-only — run it as often as you like before cutover.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param check_migration_cutover_request [CheckMigrationCutoverRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CheckMigrationCutover200Response]
    def check_migration_cutover(workspace_id, check_migration_cutover_request, opts = {})
      data, _status_code, _headers = check_migration_cutover_with_http_info(workspace_id, check_migration_cutover_request, opts)
      data
    end

    # Check reservations before switching
    # Send every upcoming reservation the destination holds; get back what is missing, extra, or on different dates compared with the source. Read-only — run it as often as you like before cutover.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param check_migration_cutover_request [CheckMigrationCutoverRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckMigrationCutover200Response, Integer, Hash)>] CheckMigrationCutover200Response data, response status code and response headers
    def check_migration_cutover_with_http_info(workspace_id, check_migration_cutover_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.check_migration_cutover ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling MigrateApi.check_migration_cutover"
      end
      # verify the required parameter 'check_migration_cutover_request' is set
      if @api_client.config.client_side_validation && check_migration_cutover_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_migration_cutover_request' when calling MigrateApi.check_migration_cutover"
      end
      # resource path
      local_var_path = '/v1/migrations/{workspaceId}/cutover-check'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_migration_cutover_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckMigrationCutover200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.check_migration_cutover",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#check_migration_cutover\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cut over
    # The property manager has switched: disconnect the source so it stops syncing. The imported data stays readable. Idempotent.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [GetMigration200Response]
    def cutover_migration(workspace_id, opts = {})
      data, _status_code, _headers = cutover_migration_with_http_info(workspace_id, opts)
      data
    end

    # Cut over
    # The property manager has switched: disconnect the source so it stops syncing. The imported data stays readable. Idempotent.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMigration200Response, Integer, Hash)>] GetMigration200Response data, response status code and response headers
    def cutover_migration_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.cutover_migration ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling MigrateApi.cutover_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{workspaceId}/cutover'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMigration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.cutover_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#cutover_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # End a migration
    # Disconnects the source (it stops syncing) and deactivates the migration's workspace. The imported data is kept and stays readable.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [DeleteMigration200Response]
    def delete_migration(workspace_id, opts = {})
      data, _status_code, _headers = delete_migration_with_http_info(workspace_id, opts)
      data
    end

    # End a migration
    # Disconnects the source (it stops syncing) and deactivates the migration&#39;s workspace. The imported data is kept and stays readable.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteMigration200Response, Integer, Hash)>] DeleteMigration200Response data, response status code and response headers
    def delete_migration_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.delete_migration ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling MigrateApi.delete_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{workspaceId}'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteMigration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.delete_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#delete_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a migration
    # Where one migration stands: its state, the source connections with their last import run, and how much data has landed.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [GetMigration200Response]
    def get_migration(workspace_id, opts = {})
      data, _status_code, _headers = get_migration_with_http_info(workspace_id, opts)
      data
    end

    # Get a migration
    # Where one migration stands: its state, the source connections with their last import run, and how much data has landed.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMigration200Response, Integer, Hash)>] GetMigration200Response data, response status code and response headers
    def get_migration_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.get_migration ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling MigrateApi.get_migration"
      end
      # resource path
      local_var_path = '/v1/migrations/{workspaceId}'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMigration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.get_migration",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#get_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get channel links
    # The Airbnb, Booking.com and VRBO listing each migrated property is linked to in the source PMS, read live. Use it to link each listing to the right property when the channels are reconnected in the destination — channel connections themselves cannot be moved between PMSs.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [GetMigrationChannelMap200Response]
    def get_migration_channel_map(workspace_id, opts = {})
      data, _status_code, _headers = get_migration_channel_map_with_http_info(workspace_id, opts)
      data
    end

    # Get channel links
    # The Airbnb, Booking.com and VRBO listing each migrated property is linked to in the source PMS, read live. Use it to link each listing to the right property when the channels are reconnected in the destination — channel connections themselves cannot be moved between PMSs.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMigrationChannelMap200Response, Integer, Hash)>] GetMigrationChannelMap200Response data, response status code and response headers
    def get_migration_channel_map_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.get_migration_channel_map ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling MigrateApi.get_migration_channel_map"
      end
      # resource path
      local_var_path = '/v1/migrations/{workspaceId}/channel-map'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMigrationChannelMap200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.get_migration_channel_map",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#get_migration_channel_map\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a migration report
    # What came across and what needs a decision in the destination: properties without an address, upcoming reservations with no guest contact, channel reservations that must not be re-created, and anything the source PMS cannot carry. Includes the source's capability matrix.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [GetMigrationReport200Response]
    def get_migration_report(workspace_id, opts = {})
      data, _status_code, _headers = get_migration_report_with_http_info(workspace_id, opts)
      data
    end

    # Get a migration report
    # What came across and what needs a decision in the destination: properties without an address, upcoming reservations with no guest contact, channel reservations that must not be re-created, and anything the source PMS cannot carry. Includes the source&#39;s capability matrix.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMigrationReport200Response, Integer, Hash)>] GetMigrationReport200Response data, response status code and response headers
    def get_migration_report_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.get_migration_report ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling MigrateApi.get_migration_report"
      end
      # resource path
      local_var_path = '/v1/migrations/{workspaceId}/report'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMigrationReport200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.get_migration_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#get_migration_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List migrations
    # Every property manager your workspace has moved through Repull Migrate, newest first, each with where it stands. Page with `pagination.nextCursor`.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor &#x60;pagination.nextCursor&#x60; from the previous page.
    # @return [ListMigrations200Response]
    def list_migrations(opts = {})
      data, _status_code, _headers = list_migrations_with_http_info(opts)
      data
    end

    # List migrations
    # Every property manager your workspace has moved through Repull Migrate, newest first, each with where it stands. Page with &#x60;pagination.nextCursor&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 25)
    # @option opts [String] :cursor &#x60;pagination.nextCursor&#x60; from the previous page.
    # @return [Array<(ListMigrations200Response, Integer, Hash)>] ListMigrations200Response data, response status code and response headers
    def list_migrations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.list_migrations ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MigrateApi.list_migrations, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MigrateApi.list_migrations, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/v1/migrations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMigrations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.list_migrations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#list_migrations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run the import again
    # Queue another import from the source PMS — for example messages after the first pass, or only reservations changed since a date. Progress shows on `GET /v1/migrations/{workspaceId}`.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [RunMigrationImportRequest] :run_migration_import_request 
    # @return [RunMigrationImport202Response]
    def run_migration_import(workspace_id, opts = {})
      data, _status_code, _headers = run_migration_import_with_http_info(workspace_id, opts)
      data
    end

    # Run the import again
    # Queue another import from the source PMS — for example messages after the first pass, or only reservations changed since a date. Progress shows on &#x60;GET /v1/migrations/{workspaceId}&#x60;.
    # @param workspace_id [Integer] The migration&#39;s workspace id (from &#x60;POST /v1/connect&#x60; with &#x60;purpose: \&quot;migrate\&quot;&#x60;, or &#x60;GET /v1/migrations&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [RunMigrationImportRequest] :run_migration_import_request 
    # @return [Array<(RunMigrationImport202Response, Integer, Hash)>] RunMigrationImport202Response data, response status code and response headers
    def run_migration_import_with_http_info(workspace_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MigrateApi.run_migration_import ...'
      end
      # verify the required parameter 'workspace_id' is set
      if @api_client.config.client_side_validation && workspace_id.nil?
        fail ArgumentError, "Missing the required parameter 'workspace_id' when calling MigrateApi.run_migration_import"
      end
      # resource path
      local_var_path = '/v1/migrations/{workspaceId}/import'.sub('{workspaceId}', CGI.escape(workspace_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'run_migration_import_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'RunMigrationImport202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"MigrateApi.run_migration_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MigrateApi#run_migration_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
