=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Designed for AI agents Every error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human: - `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`) - `error.message` — human-readable cause - `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\") - `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}` - `error.request_id` — id to correlate with server-side logs - `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific - `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)  `Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.  ## Request Correlation (X-Request-ID) Every response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.  You may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.  The id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.  ## Rate Limits The public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.  **Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.  Every response includes:  | Header | Meaning | |---|---| | `X-RateLimit-Limit` | Requests permitted in the current window. | | `X-RateLimit-Remaining` | Requests left in the current window after this call. | | `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. | | `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. | | `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |  **On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.  Recommended backoff: ``` sleep_ms = (Retry-After * 1000) + random(0..250) ```  Monthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resets_at` fields.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class PricingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Apply or decline pricing recommendations
    # Apply: writes the recommended price to the listing's calendar for the given dates and triggers the platform fan-out (Airbnb / Booking.com / VRBO). Decline: marks the recommendation as `declined` so it stops surfacing — the model can re-recommend on the next training cycle.
    # @param id [Integer] 
    # @param listing_pricing_apply_request [ListingPricingApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ListingPricingApplyResponse]
    def apply_listing_pricing(id, listing_pricing_apply_request, opts = {})
      data, _status_code, _headers = apply_listing_pricing_with_http_info(id, listing_pricing_apply_request, opts)
      data
    end

    # Apply or decline pricing recommendations
    # Apply: writes the recommended price to the listing&#39;s calendar for the given dates and triggers the platform fan-out (Airbnb / Booking.com / VRBO). Decline: marks the recommendation as &#x60;declined&#x60; so it stops surfacing — the model can re-recommend on the next training cycle.
    # @param id [Integer] 
    # @param listing_pricing_apply_request [ListingPricingApplyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListingPricingApplyResponse, Integer, Hash)>] ListingPricingApplyResponse data, response status code and response headers
    def apply_listing_pricing_with_http_info(id, listing_pricing_apply_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingApi.apply_listing_pricing ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingApi.apply_listing_pricing"
      end
      # verify the required parameter 'listing_pricing_apply_request' is set
      if @api_client.config.client_side_validation && listing_pricing_apply_request.nil?
        fail ArgumentError, "Missing the required parameter 'listing_pricing_apply_request' when calling PricingApi.apply_listing_pricing"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/pricing'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(listing_pricing_apply_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ListingPricingApplyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PricingApi.apply_listing_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingApi#apply_listing_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk apply or decline pricing recommendations
    # Apply or decline pending Atlas pricing recommendations across many listings in one call. Built for power users with hundreds of listings who would otherwise need 500 sequential single-listing POSTs.  - `items` is capped at 500 entries per request — exceeding returns 422. - Per-item failures (stale listing IDs, no pending recs, channel auth blips) DO NOT fail the whole batch — partial success is the norm at this scale and the granular `failed[]` array lets the SDK retry just the bad entries. - Tier-limit accounting: this endpoint counts as **1 API call** regardless of how many items the body contains.  Apply path writes the recommended price to each listing's calendar via the calendar service (which fans out to Airbnb/Booking/VRBO) then marks the Atlas recommendation `applied`. Decline path is Atlas-only — fast.
    # @param bulk_pricing_request [BulkPricingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BulkPricingResponse]
    def bulk_apply_pricing(bulk_pricing_request, opts = {})
      data, _status_code, _headers = bulk_apply_pricing_with_http_info(bulk_pricing_request, opts)
      data
    end

    # Bulk apply or decline pricing recommendations
    # Apply or decline pending Atlas pricing recommendations across many listings in one call. Built for power users with hundreds of listings who would otherwise need 500 sequential single-listing POSTs.  - &#x60;items&#x60; is capped at 500 entries per request — exceeding returns 422. - Per-item failures (stale listing IDs, no pending recs, channel auth blips) DO NOT fail the whole batch — partial success is the norm at this scale and the granular &#x60;failed[]&#x60; array lets the SDK retry just the bad entries. - Tier-limit accounting: this endpoint counts as **1 API call** regardless of how many items the body contains.  Apply path writes the recommended price to each listing&#39;s calendar via the calendar service (which fans out to Airbnb/Booking/VRBO) then marks the Atlas recommendation &#x60;applied&#x60;. Decline path is Atlas-only — fast.
    # @param bulk_pricing_request [BulkPricingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BulkPricingResponse, Integer, Hash)>] BulkPricingResponse data, response status code and response headers
    def bulk_apply_pricing_with_http_info(bulk_pricing_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingApi.bulk_apply_pricing ...'
      end
      # verify the required parameter 'bulk_pricing_request' is set
      if @api_client.config.client_side_validation && bulk_pricing_request.nil?
        fail ArgumentError, "Missing the required parameter 'bulk_pricing_request' when calling PricingApi.bulk_apply_pricing"
      end
      # resource path
      local_var_path = '/v1/listings/pricing/bulk'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(bulk_pricing_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BulkPricingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PricingApi.bulk_apply_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingApi#bulk_apply_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pricing recommendations
    # Returns date-by-date pricing recommendations for a listing's upcoming calendar window, plus the listing's base-price context and a 5km comp summary. Recommendations come from the Atlas pricing model — pre-computed nightly and stored in `pricing_recommendations`. Use POST to apply or decline pending recommendations.
    # @param id [Integer] Listing ID
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Inclusive start of the calendar window. Defaults to today.
    # @option opts [Date] :end_date Inclusive end of the calendar window. Defaults to today + 90 days.
    # @return [ListingPricingResponse]
    def get_listing_pricing(id, opts = {})
      data, _status_code, _headers = get_listing_pricing_with_http_info(id, opts)
      data
    end

    # Get pricing recommendations
    # Returns date-by-date pricing recommendations for a listing&#39;s upcoming calendar window, plus the listing&#39;s base-price context and a 5km comp summary. Recommendations come from the Atlas pricing model — pre-computed nightly and stored in &#x60;pricing_recommendations&#x60;. Use POST to apply or decline pending recommendations.
    # @param id [Integer] Listing ID
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Inclusive start of the calendar window. Defaults to today.
    # @option opts [Date] :end_date Inclusive end of the calendar window. Defaults to today + 90 days.
    # @return [Array<(ListingPricingResponse, Integer, Hash)>] ListingPricingResponse data, response status code and response headers
    def get_listing_pricing_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingApi.get_listing_pricing ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingApi.get_listing_pricing"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/pricing'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingPricingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PricingApi.get_listing_pricing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingApi#get_listing_pricing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Pricing recommendation audit trail
    # Cursor-paginated audit trail of pricing recommendations vs applied prices for a listing across a date window. Use `pagination.nextCursor` from one response as the `cursor` query param of the next request.  Defaults to ±90 days from today. Cursor is a keyset on `date ASC` — stable even if rows are added during a partner's pagination walk. `limit` is capped at 500 — exceeding returns 422.  `?offset=` is also accepted as a first-class alias for shallow paging (0..10000) — see the `offset` parameter below. Mutually exclusive with `cursor`.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Inclusive. Defaults to today - 90 days.
    # @option opts [Date] :end_date Inclusive. Defaults to today + 90 days.
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous response&#39;s &#x60;pagination.nextCursor&#x60;. Omit to fetch the first page.
    # @option opts [Integer] :offset First-class alias for cursor-based pagination. Mutually exclusive with &#x60;cursor&#x60; — passing both returns 422. Accepts integers in &#x60;[0, 10000]&#x60;; deeper walks must use &#x60;cursor&#x60; (constant per-page cost). The response always includes &#x60;pagination.next_cursor&#x60; so consumers can switch from offset → cursor mid-walk for deep pagination without re-keying. (default to 0)
    # @return [ListingPricingHistoryResponse]
    def get_listing_pricing_history(id, opts = {})
      data, _status_code, _headers = get_listing_pricing_history_with_http_info(id, opts)
      data
    end

    # Pricing recommendation audit trail
    # Cursor-paginated audit trail of pricing recommendations vs applied prices for a listing across a date window. Use &#x60;pagination.nextCursor&#x60; from one response as the &#x60;cursor&#x60; query param of the next request.  Defaults to ±90 days from today. Cursor is a keyset on &#x60;date ASC&#x60; — stable even if rows are added during a partner&#39;s pagination walk. &#x60;limit&#x60; is capped at 500 — exceeding returns 422.  &#x60;?offset&#x3D;&#x60; is also accepted as a first-class alias for shallow paging (0..10000) — see the &#x60;offset&#x60; parameter below. Mutually exclusive with &#x60;cursor&#x60;.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [Date] :start_date Inclusive. Defaults to today - 90 days.
    # @option opts [Date] :end_date Inclusive. Defaults to today + 90 days.
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous response&#39;s &#x60;pagination.nextCursor&#x60;. Omit to fetch the first page.
    # @option opts [Integer] :offset First-class alias for cursor-based pagination. Mutually exclusive with &#x60;cursor&#x60; — passing both returns 422. Accepts integers in &#x60;[0, 10000]&#x60;; deeper walks must use &#x60;cursor&#x60; (constant per-page cost). The response always includes &#x60;pagination.next_cursor&#x60; so consumers can switch from offset → cursor mid-walk for deep pagination without re-keying. (default to 0)
    # @return [Array<(ListingPricingHistoryResponse, Integer, Hash)>] ListingPricingHistoryResponse data, response status code and response headers
    def get_listing_pricing_history_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingApi.get_listing_pricing_history ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingApi.get_listing_pricing_history"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PricingApi.get_listing_pricing_history, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling PricingApi.get_listing_pricing_history, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] > 10000
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling PricingApi.get_listing_pricing_history, must be smaller than or equal to 10000.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling PricingApi.get_listing_pricing_history, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/v1/listings/{id}/pricing/history'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingPricingHistoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PricingApi.get_listing_pricing_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingApi#get_listing_pricing_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pricing strategy
    # Returns the strategy that constrains how the Atlas pricing model behaves for this listing. If no strategy row exists yet, returns sane defaults flagged with `isDefault: true`.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [ListingPricingStrategy]
    def get_listing_pricing_strategy(id, opts = {})
      data, _status_code, _headers = get_listing_pricing_strategy_with_http_info(id, opts)
      data
    end

    # Get pricing strategy
    # Returns the strategy that constrains how the Atlas pricing model behaves for this listing. If no strategy row exists yet, returns sane defaults flagged with &#x60;isDefault: true&#x60;.
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListingPricingStrategy, Integer, Hash)>] ListingPricingStrategy data, response status code and response headers
    def get_listing_pricing_strategy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingApi.get_listing_pricing_strategy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingApi.get_listing_pricing_strategy"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/pricing/strategy'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingPricingStrategy'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PricingApi.get_listing_pricing_strategy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingApi#get_listing_pricing_strategy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update pricing strategy
    # Upserts the strategy on `(listing_id, customer_id)` — repeated PUTs are idempotent. Send only the fields you want to change; omitted fields take server-side defaults.
    # @param id [Integer] 
    # @param listing_pricing_strategy_input [ListingPricingStrategyInput] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateListingPricingStrategy200Response]
    def update_listing_pricing_strategy(id, listing_pricing_strategy_input, opts = {})
      data, _status_code, _headers = update_listing_pricing_strategy_with_http_info(id, listing_pricing_strategy_input, opts)
      data
    end

    # Update pricing strategy
    # Upserts the strategy on &#x60;(listing_id, customer_id)&#x60; — repeated PUTs are idempotent. Send only the fields you want to change; omitted fields take server-side defaults.
    # @param id [Integer] 
    # @param listing_pricing_strategy_input [ListingPricingStrategyInput] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateListingPricingStrategy200Response, Integer, Hash)>] UpdateListingPricingStrategy200Response data, response status code and response headers
    def update_listing_pricing_strategy_with_http_info(id, listing_pricing_strategy_input, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PricingApi.update_listing_pricing_strategy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PricingApi.update_listing_pricing_strategy"
      end
      # verify the required parameter 'listing_pricing_strategy_input' is set
      if @api_client.config.client_side_validation && listing_pricing_strategy_input.nil?
        fail ArgumentError, "Missing the required parameter 'listing_pricing_strategy_input' when calling PricingApi.update_listing_pricing_strategy"
      end
      # resource path
      local_var_path = '/v1/listings/{id}/pricing/strategy'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(listing_pricing_strategy_input)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateListingPricingStrategy200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"PricingApi.update_listing_pricing_strategy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PricingApi#update_listing_pricing_strategy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
