=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class ReservationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List reservations
    # Returns reservations across all connected PMS platforms. Filter by platform, status, date range.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max items per page (default to 25)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @option opts [String] :platform Filter by booking platform
    # @option opts [String] :status 
    # @option opts [Date] :check_in_from Check-in date range start
    # @option opts [Date] :check_in_to Check-in date range end
    # @return [V1ReservationsGet200Response]
    def v1_reservations_get(opts = {})
      data, _status_code, _headers = v1_reservations_get_with_http_info(opts)
      data
    end

    # List reservations
    # Returns reservations across all connected PMS platforms. Filter by platform, status, date range.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max items per page (default to 25)
    # @option opts [Integer] :offset Pagination offset (default to 0)
    # @option opts [String] :platform Filter by booking platform
    # @option opts [String] :status 
    # @option opts [Date] :check_in_from Check-in date range start
    # @option opts [Date] :check_in_to Check-in date range end
    # @return [Array<(V1ReservationsGet200Response, Integer, Hash)>] V1ReservationsGet200Response data, response status code and response headers
    def v1_reservations_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.v1_reservations_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReservationsApi.v1_reservations_get, must be smaller than or equal to 100.'
      end

      allowable_values = ["confirmed", "pending", "cancelled", "completed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/reservations'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'checkInFrom'] = opts[:'check_in_from'] if !opts[:'check_in_from'].nil?
      query_params[:'checkInTo'] = opts[:'check_in_to'] if !opts[:'check_in_to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'V1ReservationsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReservationsApi.v1_reservations_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#v1_reservations_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel reservation
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def v1_reservations_id_delete(id, opts = {})
      v1_reservations_id_delete_with_http_info(id, opts)
      nil
    end

    # Cancel reservation
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_reservations_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.v1_reservations_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReservationsApi.v1_reservations_id_delete"
      end
      # resource path
      local_var_path = '/v1/reservations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReservationsApi.v1_reservations_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#v1_reservations_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get reservation details
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Reservation]
    def v1_reservations_id_get(id, opts = {})
      data, _status_code, _headers = v1_reservations_id_get_with_http_info(id, opts)
      data
    end

    # Get reservation details
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def v1_reservations_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.v1_reservations_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReservationsApi.v1_reservations_id_get"
      end
      # resource path
      local_var_path = '/v1/reservations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReservationsApi.v1_reservations_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#v1_reservations_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update reservation
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [V1ReservationsIdPatchRequest] :v1_reservations_id_patch_request 
    # @return [nil]
    def v1_reservations_id_patch(id, opts = {})
      v1_reservations_id_patch_with_http_info(id, opts)
      nil
    end

    # Update reservation
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @option opts [V1ReservationsIdPatchRequest] :v1_reservations_id_patch_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def v1_reservations_id_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.v1_reservations_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReservationsApi.v1_reservations_id_patch"
      end
      # resource path
      local_var_path = '/v1/reservations/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'v1_reservations_id_patch_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReservationsApi.v1_reservations_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#v1_reservations_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a reservation
    # @param v1_reservations_post_request [V1ReservationsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Reservation]
    def v1_reservations_post(v1_reservations_post_request, opts = {})
      data, _status_code, _headers = v1_reservations_post_with_http_info(v1_reservations_post_request, opts)
      data
    end

    # Create a reservation
    # @param v1_reservations_post_request [V1ReservationsPostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Reservation, Integer, Hash)>] Reservation data, response status code and response headers
    def v1_reservations_post_with_http_info(v1_reservations_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationsApi.v1_reservations_post ...'
      end
      # verify the required parameter 'v1_reservations_post_request' is set
      if @api_client.config.client_side_validation && v1_reservations_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'v1_reservations_post_request' when calling ReservationsApi.v1_reservations_post"
      end
      # resource path
      local_var_path = '/v1/reservations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(v1_reservations_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Reservation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReservationsApi.v1_reservations_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationsApi#v1_reservations_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
