=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class ReviewsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get review
    # Returns one review (matching the list-endpoint `Review` shape) wrapped in `{ data: Review }`. Scoped to the authenticated workspace via the listings join — reviews that don't belong to the workspace return 404 (we don't differentiate to avoid leaking other customers' ids).
    # @param id [Integer] Internal Repull review id.
    # @param [Hash] opts the optional parameters
    # @return [ReviewGetResponse]
    def get_review(id, opts = {})
      data, _status_code, _headers = get_review_with_http_info(id, opts)
      data
    end

    # Get review
    # Returns one review (matching the list-endpoint &#x60;Review&#x60; shape) wrapped in &#x60;{ data: Review }&#x60;. Scoped to the authenticated workspace via the listings join — reviews that don&#39;t belong to the workspace return 404 (we don&#39;t differentiate to avoid leaking other customers&#39; ids).
    # @param id [Integer] Internal Repull review id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReviewGetResponse, Integer, Hash)>] ReviewGetResponse data, response status code and response headers
    def get_review_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.get_review ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ReviewsApi.get_review"
      end
      # resource path
      local_var_path = '/v1/reviews/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewGetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewsApi.get_review",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#get_review\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List reviews
    # Cursor-paginated guest + host review stream for the workspace. Backed by main vanio's unified `reviews` table (populated by per-channel backfill crons), so this surface returns the complete cross-channel history — separate from `/v1/channels/airbnb/reviews` which hits Airbnb live.  Filters: `platform` (`airbnb`|`booking`|`vrbo`), `listing_id` (internal Repull listing id), `rating_min` / `rating_max` (inclusive bounds, 0..5), `status` (`responded`|`unanswered`|`all`), `reviewer_role` (`guest` (default) | `host` | `all`).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor returned in the previous response&#39;s &#x60;pagination.next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :platform 
    # @option opts [Integer] :listing_id Restrict to one internal Repull listing.
    # @option opts [Float] :rating_min 
    # @option opts [Float] :rating_max 
    # @option opts [String] :status &#x60;responded&#x60; — host has replied. &#x60;unanswered&#x60; — host has not replied. &#x60;all&#x60; — no filter.
    # @option opts [String] :reviewer_role &#x60;guest&#x60; (default) — reviews written by guests about the host/property. &#x60;host&#x60; — reviews written by the host about guests. &#x60;all&#x60; — both. (default to 'guest')
    # @return [ReviewListResponse]
    def list_reviews(opts = {})
      data, _status_code, _headers = list_reviews_with_http_info(opts)
      data
    end

    # List reviews
    # Cursor-paginated guest + host review stream for the workspace. Backed by main vanio&#39;s unified &#x60;reviews&#x60; table (populated by per-channel backfill crons), so this surface returns the complete cross-channel history — separate from &#x60;/v1/channels/airbnb/reviews&#x60; which hits Airbnb live.  Filters: &#x60;platform&#x60; (&#x60;airbnb&#x60;|&#x60;booking&#x60;|&#x60;vrbo&#x60;), &#x60;listing_id&#x60; (internal Repull listing id), &#x60;rating_min&#x60; / &#x60;rating_max&#x60; (inclusive bounds, 0..5), &#x60;status&#x60; (&#x60;responded&#x60;|&#x60;unanswered&#x60;|&#x60;all&#x60;), &#x60;reviewer_role&#x60; (&#x60;guest&#x60; (default) | &#x60;host&#x60; | &#x60;all&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor Opaque cursor returned in the previous response&#39;s &#x60;pagination.next_cursor&#x60;.
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :platform 
    # @option opts [Integer] :listing_id Restrict to one internal Repull listing.
    # @option opts [Float] :rating_min 
    # @option opts [Float] :rating_max 
    # @option opts [String] :status &#x60;responded&#x60; — host has replied. &#x60;unanswered&#x60; — host has not replied. &#x60;all&#x60; — no filter.
    # @option opts [String] :reviewer_role &#x60;guest&#x60; (default) — reviews written by guests about the host/property. &#x60;host&#x60; — reviews written by the host about guests. &#x60;all&#x60; — both. (default to 'guest')
    # @return [Array<(ReviewListResponse, Integer, Hash)>] ReviewListResponse data, response status code and response headers
    def list_reviews_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReviewsApi.list_reviews ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReviewsApi.list_reviews, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ReviewsApi.list_reviews, must be greater than or equal to 1.'
      end

      allowable_values = ["airbnb", "booking", "vrbo"]
      if @api_client.config.client_side_validation && opts[:'platform'] && !allowable_values.include?(opts[:'platform'])
        fail ArgumentError, "invalid value for \"platform\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'rating_min'].nil? && opts[:'rating_min'] > 5
        fail ArgumentError, 'invalid value for "opts[:"rating_min"]" when calling ReviewsApi.list_reviews, must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'rating_min'].nil? && opts[:'rating_min'] < 0
        fail ArgumentError, 'invalid value for "opts[:"rating_min"]" when calling ReviewsApi.list_reviews, must be greater than or equal to 0.'
      end

      if @api_client.config.client_side_validation && !opts[:'rating_max'].nil? && opts[:'rating_max'] > 5
        fail ArgumentError, 'invalid value for "opts[:"rating_max"]" when calling ReviewsApi.list_reviews, must be smaller than or equal to 5.'
      end

      if @api_client.config.client_side_validation && !opts[:'rating_max'].nil? && opts[:'rating_max'] < 0
        fail ArgumentError, 'invalid value for "opts[:"rating_max"]" when calling ReviewsApi.list_reviews, must be greater than or equal to 0.'
      end

      allowable_values = ["responded", "unanswered", "all"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["guest", "host", "all"]
      if @api_client.config.client_side_validation && opts[:'reviewer_role'] && !allowable_values.include?(opts[:'reviewer_role'])
        fail ArgumentError, "invalid value for \"reviewer_role\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/reviews'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'platform'] = opts[:'platform'] if !opts[:'platform'].nil?
      query_params[:'listing_id'] = opts[:'listing_id'] if !opts[:'listing_id'].nil?
      query_params[:'rating_min'] = opts[:'rating_min'] if !opts[:'rating_min'].nil?
      query_params[:'rating_max'] = opts[:'rating_max'] if !opts[:'rating_max'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'reviewer_role'] = opts[:'reviewer_role'] if !opts[:'reviewer_role'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReviewListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ReviewsApi.list_reviews",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReviewsApi#list_reviews\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
