=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class SchemaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a custom schema
    # Create a workspace-scoped field-mapping schema. The schema reshapes the `native` response payload into your app's preferred field names. After creation, set `X-Schema: <name>` on any read endpoint to apply it.  **Reserved names:** `calry`, `calry-v1`, `native` are built-in schemas and cannot be used as a custom name.  **Mapping safety:** Each mapping value is parsed by an internal expression engine — `eval`, `Function`, `process`, and other unsafe keywords are rejected up front. Field names are capped at 100 chars and expressions at 500 chars.
    # @param custom_schema_create [CustomSchemaCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomSchemaCreateResponse]
    def create_custom_schema(custom_schema_create, opts = {})
      data, _status_code, _headers = create_custom_schema_with_http_info(custom_schema_create, opts)
      data
    end

    # Create a custom schema
    # Create a workspace-scoped field-mapping schema. The schema reshapes the &#x60;native&#x60; response payload into your app&#39;s preferred field names. After creation, set &#x60;X-Schema: &lt;name&gt;&#x60; on any read endpoint to apply it.  **Reserved names:** &#x60;calry&#x60;, &#x60;calry-v1&#x60;, &#x60;native&#x60; are built-in schemas and cannot be used as a custom name.  **Mapping safety:** Each mapping value is parsed by an internal expression engine — &#x60;eval&#x60;, &#x60;Function&#x60;, &#x60;process&#x60;, and other unsafe keywords are rejected up front. Field names are capped at 100 chars and expressions at 500 chars.
    # @param custom_schema_create [CustomSchemaCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchemaCreateResponse, Integer, Hash)>] CustomSchemaCreateResponse data, response status code and response headers
    def create_custom_schema_with_http_info(custom_schema_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.create_custom_schema ...'
      end
      # verify the required parameter 'custom_schema_create' is set
      if @api_client.config.client_side_validation && custom_schema_create.nil?
        fail ArgumentError, "Missing the required parameter 'custom_schema_create' when calling SchemaApi.create_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_schema_create)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchemaCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.create_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#create_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom schema
    # Hard-delete a custom schema. Subsequent requests carrying its name in `X-Schema` fall back to `native`. There is no undelete.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomSchemaDeleteResponse]
    def delete_custom_schema(id, opts = {})
      data, _status_code, _headers = delete_custom_schema_with_http_info(id, opts)
      data
    end

    # Delete a custom schema
    # Hard-delete a custom schema. Subsequent requests carrying its name in &#x60;X-Schema&#x60; fall back to &#x60;native&#x60;. There is no undelete.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchemaDeleteResponse, Integer, Hash)>] CustomSchemaDeleteResponse data, response status code and response headers
    def delete_custom_schema_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.delete_custom_schema ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchemaApi.delete_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchemaDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.delete_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#delete_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a custom schema
    # Fetch a single custom schema by id. Scoped to the authenticated workspace — schemas that belong to other workspaces return 404.
    # @param id [String] Custom schema id.
    # @param [Hash] opts the optional parameters
    # @return [CustomSchema]
    def get_custom_schema(id, opts = {})
      data, _status_code, _headers = get_custom_schema_with_http_info(id, opts)
      data
    end

    # Get a custom schema
    # Fetch a single custom schema by id. Scoped to the authenticated workspace — schemas that belong to other workspaces return 404.
    # @param id [String] Custom schema id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchema, Integer, Hash)>] CustomSchema data, response status code and response headers
    def get_custom_schema_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.get_custom_schema ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchemaApi.get_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.get_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#get_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom schemas
    # Returns every custom schema owned by the workspace, including inactive ones.
    # @param [Hash] opts the optional parameters
    # @return [CustomSchemaListResponse]
    def list_custom_schemas(opts = {})
      data, _status_code, _headers = list_custom_schemas_with_http_info(opts)
      data
    end

    # List custom schemas
    # Returns every custom schema owned by the workspace, including inactive ones.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchemaListResponse, Integer, Hash)>] CustomSchemaListResponse data, response status code and response headers
    def list_custom_schemas_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.list_custom_schemas ...'
      end
      # resource path
      local_var_path = '/v1/schema/custom'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchemaListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.list_custom_schemas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#list_custom_schemas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a custom schema
    # Patch the description, mappings, or active flag of a custom schema. The schema `name` is immutable — create a new schema and migrate consumers if you need to rename. Mapping updates are revalidated for safety.
    # @param id [String] 
    # @param custom_schema_update [CustomSchemaUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomSchema]
    def update_custom_schema(id, custom_schema_update, opts = {})
      data, _status_code, _headers = update_custom_schema_with_http_info(id, custom_schema_update, opts)
      data
    end

    # Update a custom schema
    # Patch the description, mappings, or active flag of a custom schema. The schema &#x60;name&#x60; is immutable — create a new schema and migrate consumers if you need to rename. Mapping updates are revalidated for safety.
    # @param id [String] 
    # @param custom_schema_update [CustomSchemaUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchema, Integer, Hash)>] CustomSchema data, response status code and response headers
    def update_custom_schema_with_http_info(id, custom_schema_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.update_custom_schema ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchemaApi.update_custom_schema"
      end
      # verify the required parameter 'custom_schema_update' is set
      if @api_client.config.client_side_validation && custom_schema_update.nil?
        fail ArgumentError, "Missing the required parameter 'custom_schema_update' when calling SchemaApi.update_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_schema_update)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.update_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#update_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
