=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Designed for AI agents Every error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human: - `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`) - `error.message` — human-readable cause - `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\") - `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}` - `error.request_id` — id to correlate with server-side logs - `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific - `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)  `Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.  ## Request Correlation (X-Request-ID) Every response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.  You may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.  The id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.  ## Rate Limits The public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.  **Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.  Every response includes:  | Header | Meaning | |---|---| | `X-RateLimit-Limit` | Requests permitted in the current window. | | `X-RateLimit-Remaining` | Requests left in the current window after this call. | | `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. | | `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. | | `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |  **On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.  Recommended backoff: ``` sleep_ms = (Retry-After * 1000) + random(0..250) ```  Monthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resets_at` fields.  ## Plan Limits (402 — `listings_limit_exceeded`) The Repull API also enforces a per-tier cap on **active listings**:  | Tier | Active listings cap | |---|---| | `free` | 5 | | `starter` | 50 | | `custom` | unlimited |  When a customer's active-listing count is above their tier cap, the API returns **`402 Payment Required`** with `error.code = \"listings_limit_exceeded\"` on every route EXCEPT:  - `/v1/health` — uptime probes are never gated. - `/v1/usage/*` — so dashboards can render the over-cap state. - Any `DELETE` — so the customer can trim listings to get back under the cap without paying.  Unlike 429, 402 is NOT a \"wait and retry\" condition — `Retry-After` is not set. The only paths back to 200 are:   1. `DELETE` enough listings to come back under the cap, or   2. Upgrade at `https://repull.dev/dashboard/billing`. The server-side usage cache is 60s, so the first 200 after an upgrade may take up to a minute.  The envelope mirrors `rate_limit_exceeded` for SDK ergonomics: `tier`, `limit`, `active_listings`, `upgrade_url`, plus the standard `code` / `message` / `fix` / `docs_url` / `request_id`.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class SchemaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a custom schema
    # Create a workspace-scoped field-mapping schema. The schema reshapes the `native` response payload into your app's preferred field names. After creation, set `X-Schema: <name>` on any read endpoint to apply it.  **Reserved names:** `calry`, `calry-v1`, `native` are built-in schemas and cannot be used as a custom name.  **Mapping safety:** Each mapping value is parsed by an internal expression engine — `eval`, `Function`, `process`, and other unsafe keywords are rejected up front. Field names are capped at 100 chars and expressions at 500 chars.
    # @param custom_schema_create [CustomSchemaCreate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomSchemaCreateResponse]
    def create_custom_schema(custom_schema_create, opts = {})
      data, _status_code, _headers = create_custom_schema_with_http_info(custom_schema_create, opts)
      data
    end

    # Create a custom schema
    # Create a workspace-scoped field-mapping schema. The schema reshapes the &#x60;native&#x60; response payload into your app&#39;s preferred field names. After creation, set &#x60;X-Schema: &lt;name&gt;&#x60; on any read endpoint to apply it.  **Reserved names:** &#x60;calry&#x60;, &#x60;calry-v1&#x60;, &#x60;native&#x60; are built-in schemas and cannot be used as a custom name.  **Mapping safety:** Each mapping value is parsed by an internal expression engine — &#x60;eval&#x60;, &#x60;Function&#x60;, &#x60;process&#x60;, and other unsafe keywords are rejected up front. Field names are capped at 100 chars and expressions at 500 chars.
    # @param custom_schema_create [CustomSchemaCreate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchemaCreateResponse, Integer, Hash)>] CustomSchemaCreateResponse data, response status code and response headers
    def create_custom_schema_with_http_info(custom_schema_create, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.create_custom_schema ...'
      end
      # verify the required parameter 'custom_schema_create' is set
      if @api_client.config.client_side_validation && custom_schema_create.nil?
        fail ArgumentError, "Missing the required parameter 'custom_schema_create' when calling SchemaApi.create_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_schema_create)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchemaCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.create_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#create_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom schema
    # Hard-delete a custom schema. Subsequent requests carrying its name in `X-Schema` fall back to `native`. There is no undelete.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CustomSchemaDeleteResponse]
    def delete_custom_schema(id, opts = {})
      data, _status_code, _headers = delete_custom_schema_with_http_info(id, opts)
      data
    end

    # Delete a custom schema
    # Hard-delete a custom schema. Subsequent requests carrying its name in &#x60;X-Schema&#x60; fall back to &#x60;native&#x60;. There is no undelete.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchemaDeleteResponse, Integer, Hash)>] CustomSchemaDeleteResponse data, response status code and response headers
    def delete_custom_schema_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.delete_custom_schema ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchemaApi.delete_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchemaDeleteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.delete_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#delete_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a custom schema
    # Fetch a single custom schema by id. Scoped to the authenticated workspace — schemas that belong to other workspaces return 404.
    # @param id [String] Custom schema id.
    # @param [Hash] opts the optional parameters
    # @return [CustomSchema]
    def get_custom_schema(id, opts = {})
      data, _status_code, _headers = get_custom_schema_with_http_info(id, opts)
      data
    end

    # Get a custom schema
    # Fetch a single custom schema by id. Scoped to the authenticated workspace — schemas that belong to other workspaces return 404.
    # @param id [String] Custom schema id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchema, Integer, Hash)>] CustomSchema data, response status code and response headers
    def get_custom_schema_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.get_custom_schema ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchemaApi.get_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.get_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#get_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom schemas
    # Returns every custom schema owned by the workspace, including inactive ones.
    # @param [Hash] opts the optional parameters
    # @return [CustomSchemaListResponse]
    def list_custom_schemas(opts = {})
      data, _status_code, _headers = list_custom_schemas_with_http_info(opts)
      data
    end

    # List custom schemas
    # Returns every custom schema owned by the workspace, including inactive ones.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchemaListResponse, Integer, Hash)>] CustomSchemaListResponse data, response status code and response headers
    def list_custom_schemas_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.list_custom_schemas ...'
      end
      # resource path
      local_var_path = '/v1/schema/custom'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchemaListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.list_custom_schemas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#list_custom_schemas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a custom schema
    # Patch the description, mappings, or active flag of a custom schema. The schema `name` is immutable — create a new schema and migrate consumers if you need to rename. Mapping updates are revalidated for safety.
    # @param id [String] 
    # @param custom_schema_update [CustomSchemaUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [CustomSchema]
    def update_custom_schema(id, custom_schema_update, opts = {})
      data, _status_code, _headers = update_custom_schema_with_http_info(id, custom_schema_update, opts)
      data
    end

    # Update a custom schema
    # Patch the description, mappings, or active flag of a custom schema. The schema &#x60;name&#x60; is immutable — create a new schema and migrate consumers if you need to rename. Mapping updates are revalidated for safety.
    # @param id [String] 
    # @param custom_schema_update [CustomSchemaUpdate] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomSchema, Integer, Hash)>] CustomSchema data, response status code and response headers
    def update_custom_schema_with_http_info(id, custom_schema_update, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SchemaApi.update_custom_schema ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling SchemaApi.update_custom_schema"
      end
      # verify the required parameter 'custom_schema_update' is set
      if @api_client.config.client_side_validation && custom_schema_update.nil?
        fail ArgumentError, "Missing the required parameter 'custom_schema_update' when calling SchemaApi.update_custom_schema"
      end
      # resource path
      local_var_path = '/v1/schema/custom/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(custom_schema_update)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomSchema'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"SchemaApi.update_custom_schema",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SchemaApi#update_custom_schema\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
