=begin
#Repull API

#The unified API for vacation rental tech. Connect to 50+ PMS platforms and 4 OTA channels through one REST API. Built-in AI operations for guest communication, pricing, and listing optimization.  ## Designed for AI agents Every error response on this API includes machine-parseable fields so an LLM (Claude in MCP, Cursor, Cline, GPT, etc.) can self-recover without escalating to a human: - `error.code` — stable string identifier (e.g. `invalid_params`, `rate_limit_exceeded`) - `error.message` — human-readable cause - `error.fix` — exact recovery steps (e.g. \"Pass `check_in_after` as ISO 8601: `?check_in_after=2026-01-15`\") - `error.docs_url` — link to the canonical write-up at `https://repull.dev/docs/errors/{code}` - `error.request_id` — id to correlate with server-side logs - `error.field` / `error.value_received` / `error.valid_values` / `error.did_you_mean` — when the error is parameter-specific - `error.retry_after` — seconds to wait before retrying (rate-limit + transient upstream)  `Access-Control-Expose-Headers` lists `x-request-id` and the `X-RateLimit-*` family so browsers can read them on cross-origin responses.  ## Quick Start 1. Get an API key at https://repull.dev/dashboard 2. Connect a PMS: `POST /v1/connect/{provider}` 3. List properties: `GET /v1/properties` 4. Get reservations: `GET /v1/reservations`  ## Authentication All requests require a Bearer token: ``` Authorization: Bearer sk_test_YOUR_API_KEY ```  Sandbox keys start with `sk_test_`, production with `sk_live_`.  ## Request Correlation (X-Request-ID) Every response carries an `X-Request-ID` header, e.g. `X-Request-ID: req_01HXY...`. Include this id in support tickets and bug reports — we can trace the full request lifecycle (auth, rate limit, handler, downstream calls, log row) from a single id.  You may set the header on the inbound request to forward your own trace id; we will echo it back instead of generating a new one. Accepted format: `^[\\\\w.-]{1,128}$`.  The id is also embedded in error envelopes as `request_id` so server-side log diffs work even when the response headers are stripped by an intermediate proxy.  ## Rate Limits The public API enforces a per-API-key sliding-window rate limit on top of the per-tier monthly + daily-AI quotas.  **Default policy:** 600 requests per 60 seconds, per API key. Sliding window — there is no fixed-minute boundary you can burst across.  Every response includes:  | Header | Meaning | |---|---| | `X-RateLimit-Limit` | Requests permitted in the current window. | | `X-RateLimit-Remaining` | Requests left in the current window after this call. | | `X-RateLimit-Reset` | Unix epoch (seconds) when the next slot opens. | | `X-RateLimit-Policy` | Machine-readable policy descriptor, e.g. `600;w=60`. | | `Retry-After` | Seconds to wait before retrying. **Only present on 429 responses.** |  **On 429 (rate_limit_exceeded):** the response body matches the standard error envelope with `code: \"rate_limit_exceeded\"`, plus `limit`, `window_seconds`, `retry_after`, and `request_id` fields. SDKs MUST honor `Retry-After` and use exponential backoff with jitter on subsequent retries — never a tight loop.  Recommended backoff: ``` sleep_ms = (Retry-After * 1000) + random(0..250) ```  Monthly + daily-AI tier quotas (`free`, `starter`, `custom`) are enforced separately and also surface as 429s; they include `tier`, `scope`, and `resets_at` fields.

The version of the OpenAPI document: 1.0.0
Contact: ivan@vanio.ai
Generated by: https://openapi-generator.tech
Generator version: 7.22.0

=end

require 'cgi'

module Repull
  class StudioApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Trigger a Studio deployment
    # Kicks off a new deployment for a project — Repull provisions a Fly.io machine, writes the subdomain DNS record, and builds the project. The response returns immediately with `provisioning` status; poll `GET /api/studio/deployments/{id}` until `live`.
    # @param create_studio_deployment_request [CreateStudioDeploymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateStudioDeployment201Response]
    def create_studio_deployment(create_studio_deployment_request, opts = {})
      data, _status_code, _headers = create_studio_deployment_with_http_info(create_studio_deployment_request, opts)
      data
    end

    # Trigger a Studio deployment
    # Kicks off a new deployment for a project — Repull provisions a Fly.io machine, writes the subdomain DNS record, and builds the project. The response returns immediately with &#x60;provisioning&#x60; status; poll &#x60;GET /api/studio/deployments/{id}&#x60; until &#x60;live&#x60;.
    # @param create_studio_deployment_request [CreateStudioDeploymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateStudioDeployment201Response, Integer, Hash)>] CreateStudioDeployment201Response data, response status code and response headers
    def create_studio_deployment_with_http_info(create_studio_deployment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.create_studio_deployment ...'
      end
      # verify the required parameter 'create_studio_deployment_request' is set
      if @api_client.config.client_side_validation && create_studio_deployment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_studio_deployment_request' when calling StudioApi.create_studio_deployment"
      end
      # resource path
      local_var_path = '/api/studio/deployments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_studio_deployment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateStudioDeployment201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.create_studio_deployment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#create_studio_deployment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Studio project
    # Spins up a new Studio project from a name + prompt. Repull AI uses the prompt to materialize the initial template; the returned project starts in `draft` status.
    # @param create_studio_project_request [CreateStudioProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateStudioProject201Response]
    def create_studio_project(create_studio_project_request, opts = {})
      data, _status_code, _headers = create_studio_project_with_http_info(create_studio_project_request, opts)
      data
    end

    # Create a Studio project
    # Spins up a new Studio project from a name + prompt. Repull AI uses the prompt to materialize the initial template; the returned project starts in &#x60;draft&#x60; status.
    # @param create_studio_project_request [CreateStudioProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateStudioProject201Response, Integer, Hash)>] CreateStudioProject201Response data, response status code and response headers
    def create_studio_project_with_http_info(create_studio_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.create_studio_project ...'
      end
      # verify the required parameter 'create_studio_project_request' is set
      if @api_client.config.client_side_validation && create_studio_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_studio_project_request' when calling StudioApi.create_studio_project"
      end
      # resource path
      local_var_path = '/api/studio/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_studio_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateStudioProject201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.create_studio_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#create_studio_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run a Studio generation
    # Records a generation run scoped to a single project — Repull AI takes the prompt, generates the response, and stores it on the project timeline. Use this when you want generation history; for one-shot completions without persistence use `POST /api/studio/generate`.
    # @param id [String] 
    # @param create_studio_project_generation_request [CreateStudioProjectGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateStudioProjectGeneration201Response]
    def create_studio_project_generation(id, create_studio_project_generation_request, opts = {})
      data, _status_code, _headers = create_studio_project_generation_with_http_info(id, create_studio_project_generation_request, opts)
      data
    end

    # Run a Studio generation
    # Records a generation run scoped to a single project — Repull AI takes the prompt, generates the response, and stores it on the project timeline. Use this when you want generation history; for one-shot completions without persistence use &#x60;POST /api/studio/generate&#x60;.
    # @param id [String] 
    # @param create_studio_project_generation_request [CreateStudioProjectGenerationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateStudioProjectGeneration201Response, Integer, Hash)>] CreateStudioProjectGeneration201Response data, response status code and response headers
    def create_studio_project_generation_with_http_info(id, create_studio_project_generation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.create_studio_project_generation ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.create_studio_project_generation"
      end
      # verify the required parameter 'create_studio_project_generation_request' is set
      if @api_client.config.client_side_validation && create_studio_project_generation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_studio_project_generation_request' when calling StudioApi.create_studio_project_generation"
      end
      # resource path
      local_var_path = '/api/studio/projects/{id}/generations'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_studio_project_generation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateStudioProjectGeneration201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.create_studio_project_generation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#create_studio_project_generation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Studio deployment
    # Tears down a deployment — releases the Fly.io machine, removes the DNS record, and marks the deployment as deleted. The underlying project is unaffected.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteStudioDeployment200Response]
    def delete_studio_deployment(id, opts = {})
      data, _status_code, _headers = delete_studio_deployment_with_http_info(id, opts)
      data
    end

    # Delete a Studio deployment
    # Tears down a deployment — releases the Fly.io machine, removes the DNS record, and marks the deployment as deleted. The underlying project is unaffected.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteStudioDeployment200Response, Integer, Hash)>] DeleteStudioDeployment200Response data, response status code and response headers
    def delete_studio_deployment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.delete_studio_deployment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.delete_studio_deployment"
      end
      # resource path
      local_var_path = '/api/studio/deployments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteStudioDeployment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.delete_studio_deployment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#delete_studio_deployment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Studio project
    # Soft-deletes a project. The project is archived and removed from the listing endpoint, but its files and deployments are retained for recovery.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteStudioProject200Response]
    def delete_studio_project(id, opts = {})
      data, _status_code, _headers = delete_studio_project_with_http_info(id, opts)
      data
    end

    # Delete a Studio project
    # Soft-deletes a project. The project is archived and removed from the listing endpoint, but its files and deployments are retained for recovery.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteStudioProject200Response, Integer, Hash)>] DeleteStudioProject200Response data, response status code and response headers
    def delete_studio_project_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.delete_studio_project ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.delete_studio_project"
      end
      # resource path
      local_var_path = '/api/studio/projects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteStudioProject200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.delete_studio_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#delete_studio_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Studio project file
    # Removes a single file from the project tree. The deployment is not redeployed automatically — trigger a new deployment to apply the change.
    # @param id [String] 
    # @param path [String] URL-encoded project-relative path.
    # @param [Hash] opts the optional parameters
    # @return [DeleteStudioProjectFile200Response]
    def delete_studio_project_file(id, path, opts = {})
      data, _status_code, _headers = delete_studio_project_file_with_http_info(id, path, opts)
      data
    end

    # Delete a Studio project file
    # Removes a single file from the project tree. The deployment is not redeployed automatically — trigger a new deployment to apply the change.
    # @param id [String] 
    # @param path [String] URL-encoded project-relative path.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteStudioProjectFile200Response, Integer, Hash)>] DeleteStudioProjectFile200Response data, response status code and response headers
    def delete_studio_project_file_with_http_info(id, path, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.delete_studio_project_file ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.delete_studio_project_file"
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StudioApi.delete_studio_project_file"
      end
      # resource path
      local_var_path = '/api/studio/projects/{id}/files/{path}'.sub('{id}', CGI.escape(id.to_s)).sub('{path}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteStudioProjectFile200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.delete_studio_project_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#delete_studio_project_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate text with Repull AI
    # Sends a prompt to Repull AI and returns the completion synchronously. This is the single LLM endpoint used by the Studio UI; programmatic clients can use it to drive their own vibe-coding flows. Responses include token accounting, cost-in-micros, and cache/fallback flags. 429s include a `Retry-After` header.
    # @param generate_studio_completion_request [GenerateStudioCompletionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateStudioCompletion200Response]
    def generate_studio_completion(generate_studio_completion_request, opts = {})
      data, _status_code, _headers = generate_studio_completion_with_http_info(generate_studio_completion_request, opts)
      data
    end

    # Generate text with Repull AI
    # Sends a prompt to Repull AI and returns the completion synchronously. This is the single LLM endpoint used by the Studio UI; programmatic clients can use it to drive their own vibe-coding flows. Responses include token accounting, cost-in-micros, and cache/fallback flags. 429s include a &#x60;Retry-After&#x60; header.
    # @param generate_studio_completion_request [GenerateStudioCompletionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateStudioCompletion200Response, Integer, Hash)>] GenerateStudioCompletion200Response data, response status code and response headers
    def generate_studio_completion_with_http_info(generate_studio_completion_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.generate_studio_completion ...'
      end
      # verify the required parameter 'generate_studio_completion_request' is set
      if @api_client.config.client_side_validation && generate_studio_completion_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_studio_completion_request' when calling StudioApi.generate_studio_completion"
      end
      # resource path
      local_var_path = '/api/studio/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_studio_completion_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateStudioCompletion200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.generate_studio_completion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#generate_studio_completion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Studio deployment
    # Fetches a single deployment, including its current status and live URL. Poll this endpoint after `POST /api/studio/deployments` until `status` is `live`.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetStudioDeployment200Response]
    def get_studio_deployment(id, opts = {})
      data, _status_code, _headers = get_studio_deployment_with_http_info(id, opts)
      data
    end

    # Get a Studio deployment
    # Fetches a single deployment, including its current status and live URL. Poll this endpoint after &#x60;POST /api/studio/deployments&#x60; until &#x60;status&#x60; is &#x60;live&#x60;.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetStudioDeployment200Response, Integer, Hash)>] GetStudioDeployment200Response data, response status code and response headers
    def get_studio_deployment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.get_studio_deployment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.get_studio_deployment"
      end
      # resource path
      local_var_path = '/api/studio/deployments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStudioDeployment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.get_studio_deployment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#get_studio_deployment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Studio project
    # Fetches a single Studio project by ID, including its current status and timestamps.
    # @param id [String] Project UUID.
    # @param [Hash] opts the optional parameters
    # @return [GetStudioProject200Response]
    def get_studio_project(id, opts = {})
      data, _status_code, _headers = get_studio_project_with_http_info(id, opts)
      data
    end

    # Get a Studio project
    # Fetches a single Studio project by ID, including its current status and timestamps.
    # @param id [String] Project UUID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetStudioProject200Response, Integer, Hash)>] GetStudioProject200Response data, response status code and response headers
    def get_studio_project_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.get_studio_project ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.get_studio_project"
      end
      # resource path
      local_var_path = '/api/studio/projects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStudioProject200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.get_studio_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#get_studio_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Studio deployments
    # Returns every deployment across all projects in your account, newest first. Filter by project with `project_id`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id Optional — restrict the list to a single project.
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @return [ListStudioDeployments200Response]
    def list_studio_deployments(opts = {})
      data, _status_code, _headers = list_studio_deployments_with_http_info(opts)
      data
    end

    # List Studio deployments
    # Returns every deployment across all projects in your account, newest first. Filter by project with &#x60;project_id&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id Optional — restrict the list to a single project.
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @return [Array<(ListStudioDeployments200Response, Integer, Hash)>] ListStudioDeployments200Response data, response status code and response headers
    def list_studio_deployments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.list_studio_deployments ...'
      end
      allowable_values = ["provisioning", "building", "live", "suspended", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/studio/deployments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStudioDeployments200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.list_studio_deployments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#list_studio_deployments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Studio project files
    # Returns every file in the project tree with its content, sha256, and size. Use the digests to detect drift before writing.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListStudioProjectFiles200Response]
    def list_studio_project_files(id, opts = {})
      data, _status_code, _headers = list_studio_project_files_with_http_info(id, opts)
      data
    end

    # List Studio project files
    # Returns every file in the project tree with its content, sha256, and size. Use the digests to detect drift before writing.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListStudioProjectFiles200Response, Integer, Hash)>] ListStudioProjectFiles200Response data, response status code and response headers
    def list_studio_project_files_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.list_studio_project_files ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.list_studio_project_files"
      end
      # resource path
      local_var_path = '/api/studio/projects/{id}/files'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStudioProjectFiles200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.list_studio_project_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#list_studio_project_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Studio projects
    # Returns every Studio project owned by the authenticated account, excluding soft-deleted ones. Use this to populate a project picker or dashboard.
    # @param [Hash] opts the optional parameters
    # @return [ListStudioProjects200Response]
    def list_studio_projects(opts = {})
      data, _status_code, _headers = list_studio_projects_with_http_info(opts)
      data
    end

    # List Studio projects
    # Returns every Studio project owned by the authenticated account, excluding soft-deleted ones. Use this to populate a project picker or dashboard.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListStudioProjects200Response, Integer, Hash)>] ListStudioProjects200Response data, response status code and response headers
    def list_studio_projects_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.list_studio_projects ...'
      end
      # resource path
      local_var_path = '/api/studio/projects'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListStudioProjects200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.list_studio_projects",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#list_studio_projects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Suspend a Studio deployment
    # Pauses a deployment without deleting it — the Fly.io machine is stopped and the URL returns 503 until the deployment is woken. Suspended deployments do not accrue runtime charges.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetStudioDeployment200Response]
    def suspend_studio_deployment(id, opts = {})
      data, _status_code, _headers = suspend_studio_deployment_with_http_info(id, opts)
      data
    end

    # Suspend a Studio deployment
    # Pauses a deployment without deleting it — the Fly.io machine is stopped and the URL returns 503 until the deployment is woken. Suspended deployments do not accrue runtime charges.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetStudioDeployment200Response, Integer, Hash)>] GetStudioDeployment200Response data, response status code and response headers
    def suspend_studio_deployment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.suspend_studio_deployment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.suspend_studio_deployment"
      end
      # resource path
      local_var_path = '/api/studio/deployments/{id}/suspend'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStudioDeployment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.suspend_studio_deployment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#suspend_studio_deployment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Studio project
    # Updates project metadata. Only the included fields are touched; omit a field to leave it unchanged.
    # @param id [String] 
    # @param update_studio_project_request [UpdateStudioProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetStudioProject200Response]
    def update_studio_project(id, update_studio_project_request, opts = {})
      data, _status_code, _headers = update_studio_project_with_http_info(id, update_studio_project_request, opts)
      data
    end

    # Update a Studio project
    # Updates project metadata. Only the included fields are touched; omit a field to leave it unchanged.
    # @param id [String] 
    # @param update_studio_project_request [UpdateStudioProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetStudioProject200Response, Integer, Hash)>] GetStudioProject200Response data, response status code and response headers
    def update_studio_project_with_http_info(id, update_studio_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.update_studio_project ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.update_studio_project"
      end
      # verify the required parameter 'update_studio_project_request' is set
      if @api_client.config.client_side_validation && update_studio_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_studio_project_request' when calling StudioApi.update_studio_project"
      end
      # resource path
      local_var_path = '/api/studio/projects/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_studio_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetStudioProject200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.update_studio_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#update_studio_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert a Studio project file
    # Creates or replaces a file at the given path. Returns the new sha256 so subsequent writes can use optimistic concurrency.
    # @param id [String] 
    # @param path [String] URL-encoded project-relative path, e.g. &#x60;src%2Fapp%2Fpage.tsx&#x60;.
    # @param upsert_studio_project_file_request [UpsertStudioProjectFileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpsertStudioProjectFile200Response]
    def upsert_studio_project_file(id, path, upsert_studio_project_file_request, opts = {})
      data, _status_code, _headers = upsert_studio_project_file_with_http_info(id, path, upsert_studio_project_file_request, opts)
      data
    end

    # Upsert a Studio project file
    # Creates or replaces a file at the given path. Returns the new sha256 so subsequent writes can use optimistic concurrency.
    # @param id [String] 
    # @param path [String] URL-encoded project-relative path, e.g. &#x60;src%2Fapp%2Fpage.tsx&#x60;.
    # @param upsert_studio_project_file_request [UpsertStudioProjectFileRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpsertStudioProjectFile200Response, Integer, Hash)>] UpsertStudioProjectFile200Response data, response status code and response headers
    def upsert_studio_project_file_with_http_info(id, path, upsert_studio_project_file_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.upsert_studio_project_file ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.upsert_studio_project_file"
      end
      # verify the required parameter 'path' is set
      if @api_client.config.client_side_validation && path.nil?
        fail ArgumentError, "Missing the required parameter 'path' when calling StudioApi.upsert_studio_project_file"
      end
      # verify the required parameter 'upsert_studio_project_file_request' is set
      if @api_client.config.client_side_validation && upsert_studio_project_file_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_studio_project_file_request' when calling StudioApi.upsert_studio_project_file"
      end
      # resource path
      local_var_path = '/api/studio/projects/{id}/files/{path}'.sub('{id}', CGI.escape(id.to_s)).sub('{path}', CGI.escape(path.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_studio_project_file_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpsertStudioProjectFile200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.upsert_studio_project_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#upsert_studio_project_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Wake a suspended Studio deployment
    # Resumes a previously suspended deployment — Repull restarts the Fly.io machine and the URL becomes reachable again once `status` returns to `live`.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetStudioDeployment200Response]
    def wake_studio_deployment(id, opts = {})
      data, _status_code, _headers = wake_studio_deployment_with_http_info(id, opts)
      data
    end

    # Wake a suspended Studio deployment
    # Resumes a previously suspended deployment — Repull restarts the Fly.io machine and the URL becomes reachable again once &#x60;status&#x60; returns to &#x60;live&#x60;.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetStudioDeployment200Response, Integer, Hash)>] GetStudioDeployment200Response data, response status code and response headers
    def wake_studio_deployment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StudioApi.wake_studio_deployment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StudioApi.wake_studio_deployment"
      end
      # resource path
      local_var_path = '/api/studio/deployments/{id}/wake'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetStudioDeployment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"StudioApi.wake_studio_deployment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StudioApi#wake_studio_deployment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
